/*---------- base css ----------*/
body{
  background:$color-bg;
  font-family: $font-noto;
  font-size: $font-size-xs;
  @media (min-width: $screen-sm-min) {
    font-size: $font-size-sm;
  }
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
  font-family: $font-noto;
}
a{
  color:$color-link;
}
a:focus{
  outline: none;
}
/*---------- end base css ----------*/