//font-family: 'Lato', sans-serif;
/* Webfont: Lato-Bold */@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lato/Lato-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-BoldItalic */@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-BoldItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/Lato-BoldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lato/Lato-BoldItalic.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/lato/Lato-BoldItalic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Heavy */@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/Lato-Heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lato/Lato-Heavy.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/lato/Lato-Heavy.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lato/Lato-Heavy.ttf') format('truetype');
  font-style: normal;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-HeavyItalic */@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-HeavyItalic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/Lato-HeavyItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lato/Lato-HeavyItalic.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/lato/Lato-HeavyItalic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
  font-style: italic;
  font-weight: 900;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Italic */@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/Lato-Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lato/Lato-Italic.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/lato/Lato-Italic.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lato/Lato-Italic.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

/* Webfont: Lato-Regular */@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
  src: url('../fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
  url('../fonts/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
  url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

//Dosis fonts
@import url('https://fonts.googleapis.com/css?family=Dosis:400,500,700');
//font-family: 'Dosis', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i&subset=vietnamese');
//font-family: 'Noto Sans', sans-serif;