/*---------- layout css ----------*/
.l-page{
  position: relative;
  z-index: 1;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;
    background: rgba(0,0,0,0.4);
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    @include transition-all(0.2s);
  }
  &.has-bg{
    &:before{
      visibility: visible;
      opacity: 1;
    }
  }
  .l-page__inner{
    margin-top: 54px;
    padding: 30px 0 40px;
  }
}
.l-content{
  position: relative;
  z-index: 1;
  &__line{
    position: absolute;
    z-index: 2;
    width: 1px;
    background: $color-border2;
    top: 0;
    bottom: 0;
    left: percentage(966/1365);
    display: none;
  }
}
.l-sidebar{
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: -300px;
  background: #fff;
  width: 300px;
  background: url("../images/sidebar-bg.jpg") no-repeat top center;
  background-size: cover;
  @include transition-all(0.2s);
  .l-sidebar__inner{
    height: 100%;
    overflow: auto;
    position: relative;
    z-index: 1;
  }
}
.l-main{
}
//layout responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .l-content{
    &__line{
      display: block;
    }
  }
  .l-main{
    float: left;
    width: percentage(941/1365);
  }
  .l-sidebar-right{
    float: right;
    width: percentage(380/1365);
  }
}
@media (min-width: $screen-lg-min){
  .l-page{
    z-index: 101;
    margin-left: 300px;
    &.has-page-open{
      margin-left: 0;
      .l-header{
        left:0;
      }
    }
  }
  .l-sidebar{
    left: 0;
  }
}
@media (min-width: $screen-xlg-min){
  .l-page{
    margin-left: 320px;
    &.has-page-open{
      margin-left: 0;
    }
  }
  .l-sidebar{
    width: 320px;
  }
  .l-content{
    &__line{
      left: percentage(917/1365);
    }
  }
  .l-main{
    width: percentage(896/1365);
  }
  .l-sidebar-right{
    width: percentage(425/1365);
  }
}
//layout responsive css
/*---------- end layout css ----------*/