/*---------- sprite css ----------*/
[class*="icon12"]{
  width:12px;
  height:12px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon16"]{
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:top;
}
[class*="icon20"]{
  width:20px;
  height:20px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon24"]{
	width:24px;
	height:24px;
	display:inline-block;
	vertical-align:top;
}
[class*="icon28"]{
  width:28px;
  height:28px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon32"]{
	width:32px;
	height:32px;
	display:inline-block;
	vertical-align:top;
}
[class*="icon40"]{
  width:40px;
  height:40px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon48"]{
  width:48px;
  height:48px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon60"]{
  width:60px;
  height:60px;
  display:inline-block;
  vertical-align:top;
}
[class*="icon64"]{
  width:64px;
  height:64px;
  display:inline-block;
  vertical-align:top;
}
.icon12-remove{
  background-image: url("../images/icons/icon12-remove.png");
}
.icon20-faq{
  background-image: url("../images/icons/icon20-faq.png");
}
.icon24-faq-circle{
  background-image: url("../images/icons/icon24-faq-circle.png");
}
.icon24-bell{
  background-image: url("../images/icons/icon24-bell.png");
}
.icon24-place{
  background-image: url("../images/icons/icon24-place.png");
}
.icon24-phone{
  background-image: url("../images/icons/icon24-phone.png");
}
.icon28-search-white{
  background-image: url("../images/icons/icon28-search-white.png");
}
.icon32-mobile{
  background-image: url("../images/icons/icon32-mobile.png");
}
.icon32-cart-white{
  background-image: url("../images/icons/icon32-cart-white.png");
}
.icon32-chat-white{
  background-image: url("../images/icons/icon32-chat-white.png");
}
.icon32-news-white{
  background-image: url("../images/icons/icon32-news-white.png");
}
.icon32-cart{
  background-image: url("../images/icons/icon32-cart.png");
}
.icon32-usd-white{
  background-image: url("../images/icons/icon32-usd-white.png");
}
.icon32-faq{
  background-image: url("../images/icons/icon32-faq.png");
}
.icon32-bill-white{
  background-image: url("../images/icons/icon32-bill-white.png");
}
.icon48-clock{
  background-image: url("../images/icons/icon48-clock.png");
}
.icon40-gift{
  background-image: url("../images/icons/icon40-gift.png");
}
.icon40-users{
  background-image: url("../images/icons/icon40-users.png");
}
.icon60-email{
  background-image: url("../images/icons/icon60-email.png");
}
.icon60-link{
  background-image: url("../images/icons/icon60-link.png");
}
.icon60-lock{
  background-image: url("../images/icons/icon60-lock.png");
}
.icon-captcha{
  background: url("../images/icons/icon-captcha.png") no-repeat;
  width: 20px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
}
/*---------- end sprite css ----------*/