﻿//color
$color-bg: #f4f5f6;
$color-bg2: #fff;
$color-link: #0053fd;
$color-link-hover: #0000ff;
$color-text: #333;
$color-text2: #3d3d3d;
$color-border: #ddd;
$color-border2: #ececec;
$color-time: #999;

$color-info: #3bace1;
$color-success: #32c24d;
$color-success-hover: #2aa642;
$color-primary: #6668f1;
$color-warning: #ebe606;
$color-danger: #db2522;
$color-red: #f00;

$color-gray: #48576f;
$color-pink: #f6459d;
$color-violet: #c436fe;
$color-green: #9ebe2f;
$color-yellow: #ffca28;

//width
$container-sm: 738px;
$container-sm-number: 738;
$container-md: 980px;
$container-md-number: 980;
$container-lg: 930px;
$container-lg-number: 930;
$container-xlg: 1400px;
$container-xlg-number: 1400;

//grid size
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-lg: 1200px;
$screen-lg-min: $screen-lg;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);
$screen-xs-small: 481px;
//more grid size
$screen-xs-small-min: $screen-xs-small;
$screen-xxs-max: ($screen-xs-small-min - 1);
$screen-xlg: 1600px;
$screen-xlg-min: $screen-xlg;
$screen-lg-max: ($screen-xlg-min - 1);
$screen-xxlg: 1800px;
$screen-xxlg-min: $screen-xxlg;
$screen-xlg-max: ($screen-xxlg-min - 1);

//font
$font-arial: Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-lato: 'Lato',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto: 'Roboto',Arial,"Helvetica Neue",Helvetica,sans-serif;
$font-roboto-condensed: 'Roboto Condensed','Roboto',Arial;
$font-open-sans: 'Open Sans','Roboto',Arial,sans-serif;
$font-dosis: 'Dosis', sans-serif;
$font-noto: 'Noto Sans', 'Lato', sans-serif;
$font-awesome: 'FontAwesome';

//font size
$font-size-xs: 14px;
$line-height-xs: 20px;
$font-size-sm: 14px;
$line-height-sm: 20px;