/*---------- components css ----------*/
/*box*/
.c-box{
  background: #fff;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
  margin-top: 37px;
  min-height: 40px;
  &.has-invoice{
    margin-left: auto;
    margin-right: auto;
    max-width: 860px;
  }
  &.has-user{
    margin-left: auto;
    margin-right: auto;
    max-width: 620px;
  }
  .c-box__arc{
    position: absolute;
    z-index: 2;
    left: 50%;
    top: -37px;
    width: 104px;
    height: 74px;
    margin-left: -52px;
    line-height: 74px;
    text-align: center;
    background: url("../images/c-box-arc.png") no-repeat bottom center;
    img{
      max-width: 100%;
      max-height: 100%;
    }
  }
  .c-box__title{
    text-align: center;
    padding-top: 50px;
    .c-box__title__name{
      display: inline-block;
      vertical-align: top;
      color: $color-text;
      font-size: 18px;
      font-weight: 700;
      text-decoration: none;
      &.text-success{
        color: $color-success;
      }
    }
    a.c-box__title__name{
      &:hover{
        color: $color-success;
      }
    }
    .c-box__title__number{
      display: block;
      font-style: italic;
      color: $color-time;
    }
  }
  .c-box__content{
    padding: 10px;
  }
}
/*end box*/
/*product*/
.c-tag-sale{
  background: url("../images/tag-sale.png") no-repeat;
  position: absolute;
  z-index: 2;
  top: -6px;
  left: 6px;
  width: 46px;
  height: 54px;
  text-align: center;
  color: #fff;
  padding-right: 6px;
  line-height: 49px;
}
.c-tag-gift{
  background: url("../images/tag-gift.png") no-repeat;
  position: absolute;
  z-index: 2;
  bottom: 10px;
  right: 6px;
  width: 50px;
  height: 64px;
}
.c-product-item{
  width: 160px;
  margin: 6px auto 0;
  @include transition-all(0.2s);
  .c-product-item__thumb{
    display: table;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    z-index: 1;
    a{
      text-align: center;
      display: table-cell;
      padding: 5px;
      vertical-align: middle;
      height: 160px;
      @include transition-all(0.2s);
    }
    img{
      width: auto;
      display: inline;
      max-width: 150px;
      max-height: 150px;
      @include transition-all(0.2s);
    }
  }
  .c-product-item__content{
  }
  .c-product-item__row{
    line-height: 20px;
    margin-bottom: 7px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .c-product-item__title{
    color: $color-text;
    font-weight: 700;
    text-decoration: none;
    display: block;
    overflow: hidden;
    max-height: 20px * 2;
    &:hover{
      color: $color-success;
    }
  }
  .c-product-item__desc{
    overflow: hidden;
    max-height: 20px * 2;
  }
  .c-product-item__price{
    display: block;
    font-family: $font-dosis;
    font-size: 20px;
    font-weight: 500;
    color: $color-red;
  }
  .c-product-item__oldprice{
    color: $color-time;
    display: block;
    padding: 10px 0 0;
    font-size: 14px;
  }
  .c-product-item__stars{
    display: inline-block;
    vertical-align: middle;
    .fa{
      font-size: 14px;
      color: $color-border;
      &.is-active, &.active{
        color: $color-yellow;
      }
    }
  }
  .c-product-item__count{
    display: inline-block;
    vertical-align: middle;
    color: $color-time;
  }
}
/*end product*/
/*article more*/
.c-article-more{
  text-align: center;
  height: 23px;
  margin-bottom: -10px;
}
/*end article more*/
/*smart float*/
.c-smart-float{
  position: fixed;
  z-index: 102;
  right: 0;
  top: 200px;
  &__tip{
    background: $color-text;
    padding: 2px 7px;
    color: #fff;
    font-size: 12px;
    @include border-radius(2px);
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 30px;
    opacity: 0;
    white-space: nowrap;
    line-height: normal;
    @include transition-all(0.2s);
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      margin-bottom: 2px;
      &:last-child{
        margin-bottom: 2px;
      }
      a{
        text-decoration: none;
        display: block;
        width: 40px;
        height: 46px;
        background: $color-success;
        text-align: center;
        line-height: 46px;
        position: relative;
        z-index: 1;
        @include border-radius(4px 0 0 4px);
        i{
          vertical-align: middle;
        }
        .badge{
          position: absolute;
          left: 16px;
          top: 5px;
          z-index: 2;
          background: #fff;
          padding: 0;
          line-height: 16px;
          min-width: 16px;
          text-align: center;
          color: $color-success;
        }
        &:hover{
          .c-smart-float__tip{
            opacity: 1;
          }
        }
      }
    }
  }
}
/*end smart float*/
/*dropdown menu*/
.c-dropdown-menu{
  padding: 15px 15px 15px 20px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  border-top: 1px solid $color-success;
  width: 240px;
  @include box-shadow(0 2px 2px rgba(0,0,0,0.15));
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  margin-top: -7px;
  @include transition-all(0.2s);
  @include border-radius(0 0 4px 4px);
  &:before{
    content: "";
    border: transparent;
    border-bottom-color: $color-success;
    border-style: solid;
    border-width: 0 5px 7px;
    position: absolute;
    left: 12px;
    top: -7px;
    height: 0;
    width: 0;
    z-index: 2;
  }
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      position: relative;
      z-index: 1;
      &:before{
        content: "\f105";
        font-family: $font-awesome;
        position: absolute;
        z-index: 2;
        left:0;
        top: 7px;
        font-size: 14px;
        color: $color-success;
      }
      >a{
        display: block;
        text-decoration: none;
        color: $color-text;
        text-align: left;
        padding: 7px 0 7px 10px;
        &:hover{
          color: $color-success;
        }
      }
      &.c-help-menu__support{
        &:before{
          display: none;
        }
        >a{
          background: $color-border2;
          color: $color-text;
          padding: 5px 0 5px 42px;
          font-size: 13px;
          @include border-radius(4px);
          img{
            float: left;
            margin-left: -38px;
            margin-top: 5px;
          }
          span{
            display: block;
            font-size: 18px;
            font-family: $font-dosis;
            font-weight: 700;
          }
        }
      }
      &.c-help-menu__center{
        &:before{
          display: none;
        }
        >a{
          text-align: center;
          color: $color-link;
          padding: 7px 0;
        }
      }
    }
  }
}
.is-active, .active{
  .c-dropdown-menu{
    z-index: 2;
    visibility: visible;
    opacity: 1;
    @include transform(translate3d( 0, 7px, 0));
  }
}
/*end dropdown menu*/
/*widget*/
.c-widget{
  margin-bottom: 20px;
  &__title{
    margin-bottom: 15px;
    &__name{
      font-size: 16px;
      font-weight: 700;
      color: $color-text;
      position: relative;
      z-index: 1;
      padding-bottom: 5px;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        bottom: 0;
        left:0;
        width: 50px;
        height: 2px;
        background: $color-success;
      }
    }
  }
}
/*end widget*/
/*comments*/
.c-comments{
  padding-top: 15px;
  &__list{
    .b-grid{
      min-height: 64px;
      margin-bottom: 17px;
      .b-grid__img{
        width: 64px;
        height:64px;
        @include border-radius(16px 0 16px 0);
        img{
          height: 64px;
        }
      }
      .b-grid__content{
        margin-left: 78px;
      }
      .b-grid__row{
        margin-bottom: 10px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .b-grid__title{
        font-weight: 700;
      }
      .b-grid__time{
        color: $color-time;
        margin-left: 5px;
        font-style: italic;
      }
      .b-grid__result{
        text-decoration: none;
        margin-right: 20px;
      }
      .b-grid__like{
        text-decoration: none;
        .fa{
          font-size: 14px;
          margin-right: 3px;
          color: $color-time;
        }
        span{
          color: $color-time;
        }
      }
      .c-comments__input{
        padding-top: 15px;
      }
    }
    &__sub{
      .b-grid{
        margin-top: 15px;
        margin-bottom: 0;
        background: $color-bg;
        padding: 10px 10px 12px;
        min-height: 44px;
        position: relative;
        z-index: 1;
        @include border-radius(0 16px 0 16px);
        &:before{
          content: "";
          border: transparent;
          border-bottom-color: $color-bg;
          border-style: solid;
          border-width: 0 8px 8px;
          position: absolute;
          left: 15px;
          top: -8px;
          height: 0;
          width: 0;
          z-index: 2;
        }

        .b-grid__img{
          width: 44px;
          height:44px;
          img{
            height: 44px;
          }
        }
        .b-grid__content{
          margin-left: 58px;
        }
      }
      &__more{
        padding-top: 10px;
        a{
          text-decoration: none;
          color: $color-success;
        }
      }
    }
  }
  &__input{
    .form-control{
      @include border-radius(4px);
    }
    textarea{
      min-height: 84px;
    }
  }
  &__more{
    text-align: center;
  }
  .b-page{
    border-top: none;
    .pagination-router{
      text-align: center;
    }
    .pagination >{
      li{
        margin: 0 3px 5px 3px;
      }
    }
  }
}
/*end comments*/
/*sidebox*/
.c-sidebox{
  border: 1px solid $color-border2;
  &__title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
    padding-top: 20px;
  }
}
/*end sidebox*/
/*sidenone*/
.c-sidenone{
  &__title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
/*end sidenone*/
/*unity*/
.c-unity{
  padding: 0 15px;
  margin-top: -12px;
  min-height: 12px;
  ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      border-bottom: 1px solid $color-border2;
      &:last-child{
        border-bottom: none;
      }
      a{
        padding: 12px 0 12px 28px;
        color: $color-text;
        text-decoration: none;
        display: block;
        .c-unity__number{
          float: left;
          margin: 0 0 0 -28px;
          font-size: 16px;
        }
      }
      &:hover{
        a{
          color: $color-success;
        }
      }
    }
  }
}
/*end unity*/
/*news featured*/
.c-news-featured{
  .b-grid{
    padding-bottom: 15px;
    margin-bottom: 15px;
    min-height: 68px + 15px;
    border-bottom: 1px dashed $color-border2;
    &:last-child{
      border-bottom: none;
    }
    .b-grid__img{
      width: 100px;
      height: 68px;
      @include border-radius(10px 0 10px 0);
      img{
        min-height: 68px;
      }
    }
    .b-grid__content{
      margin-left: 115px;
    }
    .b-grid__row{
      line-height: 20px;
    }
    .b-grid__title{
      color: $color-text;
      font-weight: 400;
      text-decoration: none;
      &:hover{
        color: $color-success;
      }
    }
    .b-grid__time{
      color: $color-time;
    }
  }
}
/*end news featured*/
/*check control*/
.check-control{
  margin-right: 10px;
  input {
    position: absolute;
    z-index: -1;
    visibility: hidden;
    opacity: 0;
  }
  input[type^="radio"]{
    &:checked + .indicator{
      color: $color-text;
      .check-icon {
        &::before {
          content: "";
          animation-name: bubble;
          animation-duration: 0.4s;
        }
        &::after {
          width: 6px;
          height: 6px;
          left: 2px;
          top: 2px;
        }
      }
    }//&:checked + .indicator
    &+ .indicator{
      position: relative;
      &::before{
        content: none;
      }
      .check-icon{
        display: inline-block;
        position: relative;
        margin-right: 3px;
        height: 12px;
        width: 12px;
        border: 1px solid $color-success;
        border-radius: 50%;
        left: 0;
        top: 1px;
        &::before{
          position: absolute;
          z-index: -1;
          left: 50%;
          top: 50%;
          width: 0;
          height: 0;
          background: $color-success;
          border-radius: 50%;
        }
        &::after{
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 6px;
          top: 6px;
          transition: 0.2s;
          background: $color-success;
          border-radius: 50%;
        }
      }//.check-icon
      .lbl{
        display: inline;
      }
    }//&+ .indicator {
  }// Radio input
  input[type^="checkbox"]{
    &:checked + .indicator{
      color: $color-text;
      &::before {
        content: none;
      }
      .check-icon {
        &::before {
          content: "";
          animation-name: bubble;
          animation-duration: 0.4s;
        }
        &::after {
          width: 8px;
          height: 8px;
          left: 1px;
          top: 1px;
        }
      }
    }//&:checked + .indicator
    &+ .indicator {
      position: relative;
      &::before {
        content: none;
      }
      .check-icon{
        display: inline-block;
        position: relative;
        height: 12px;
        width: 12px;
        border: 1px solid $color-success;
        border-radius: 0;
        margin-right: 3px;
        top: 1px;
        &::before {
          position: absolute;
          z-index: -1;
          left: 50%;
          top: 50%;
          width: 0;
          height: 0;
          background: $color-success;
          border-radius: 0;
        }
        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          left: 6px;
          top: 6px;
          transition: 0.2s;
          background: $color-success;
          border-radius: 0;
        }
      }//.check-icon
      .lbl {
        display: inline;
      }
    }
  }// checkbox input
}//.check-control
@keyframes bubble {
  0%   {
    width: 16px;
    height: 16px;
    margin-top: -8px;
    margin-left: -8px;
    opacity: 0;
  }

  90% {
    width: 30px;
    height: 30px;
    margin-top: -15px;
    margin-left: -15px;
    opacity: 0.2;
  }

  100% {
    opacity: 0;
  }
}
/*end check control*/
//components responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-box{
    margin-bottom: 35px;
    .c-box__content{
      padding: 15px;
    }
  }
  .c-article-more{
    margin-bottom: -15px;
  }
  .c-product-item{
    width: 170px;
    .c-product-item__thumb{
      a{
        height: 170px;
      }
      img{
        max-width: 160px;
        max-height: 160px;
        @include transition-all(0.3s);
      }
    }
    &:hover{
      img{
        @include transform(translate3D(-5px,0,0));
      }
    }
  }
  .c-widget{
    margin-bottom: 25px;
  }
  .c-sidebox{
    &__title{
      margin-bottom: 25px;
      padding-top: 25px;
    }
  }
  .c-sidenone{
    &__title{
      margin-bottom: 25px;
    }
  }
}
@media (min-width: $screen-lg-min){
  .c-article-more{
    margin-bottom: -20px;
  }
}
@media (min-width: $screen-xlg-min){
  .c-box{
    margin-bottom: 45px;
    .c-box__content{
      padding: 20px;
    }
  }
}
@media (min-width: $screen-xxlg-min){
  .c-product-item{
    width: 190px;
    .c-product-item__thumb{
      a{
        height: 190px;
      }
      img{
        max-width: 180px;
        max-height: 180px;
      }
    }
  }
}
//end components responsive css
/*---------- end components css ----------*/