/*---------- footer css ----------*/
.l-footer{
  border-top: 3px solid $color-success;
  background: url("../images/footer-bg.jpg") no-repeat #fff;
  background-size: cover;
}
.c-copyright{
  text-align: center;
  padding: 12px 0;
  border-top: 1px solid $color-border;
}
.c-footer-keyword{
  padding: 15px 0;
  label{
    display: block;
    font-weight: 700;
  }
  .c-footer-keyword__list{
    line-height: 30px;
    a{
      color: $color-text;
      text-decoration: none;
      &:hover{
        color: $color-success;
      }
      &+a:before{
        content: "/";
        margin: 0 2px;
        color: $color-text;
      }
    }
  }
}
.c-footer-top{
  border-bottom: 1px solid $color-border;
  padding: 15px 0;
  text-align: center;
  .c-footer-top__support{
    display: inline-block;
    vertical-align: middle;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        .fa{
          margin-right: 7px;
          vertical-align: middle;
          color: $color-success;
          font-size: 20px;
        }
      }
    }
  }
}
.c-footer-logo{
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}
.c-footer-text{
  padding: 25px 0;
  border-bottom: 1px solid $color-border;
}
.c-footer-label{
  font-weight: 700;
  margin-bottom: 20px;
}
.c-footer-content{
  .c-footer-content__list{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      padding-bottom: 10px;
      position: relative;
      z-index: 1;
      padding-left: 22px;
      &:before{
        content: "\f105";
        font-family: $font-awesome;
        line-height: 1;
        position: absolute;
        z-index: 2;
        left: 10px;
        top: 3px;
        color: $color-success;
      }
      a{
        text-decoration: none;
        color: $color-text;
        &:hover{
          color: $color-success;
        }
      }
    }
  }
}
.c-footer-likebox{
  >img{
    max-width: 100%;
  }
}
.c-footer-email{
  margin-bottom: 15px;
  .input-group{
    background: #fff;
    @include border-radius(18px 0 18px 0);
  }
  .form-control{
    border: none;
    background-color: transparent;
    height: 40px;
    padding: 6px 0 6px 10px;
    &:focus{
      outline: none;
      @include box-shadow(none);
    }
  }
  .btn{
    border: none;
    background-color: transparent !important;
    height: 40px;
    padding: 0;
    width: 54px;
    text-align: center;
    color: $color-success;
    font-size: 18px;
    @include box-shadow(none !important);
  }
}
.c-footer-verify{
  label{
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin-bottom: 10px;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li{
      float: left;
      margin-right: 15px;
      &:last-child{
        margin-right: 0;
      }
    }
  }
}
.c-footer-span{
  height: 1px;
  float: left;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 10px 0 20px;
  &:before{
    content: "";
    height: 1px;
    background: $color-border;
    left: 10px;
    right: 10px;
    position: absolute;
    z-index: 2;
    top: 0;
  }
}
.c-footer-gallery{
  padding: 25px 0;
  border-bottom: 1px solid $color-border;
  .c-footer-label{
    text-align: center;
  }
}
.c-footer-gallery-slider{
  position: relative;
  z-index: 1;
  .owl-carousel{
    .owl-stage-outer{
      &:before{
        content: "";
        position: absolute;
        z-index: 3;
        top: 0;
        left:-2px;
        bottom: 0;
        width: 30%;
        @include linear-gradient(right, transparent, rgba(255,255,255,0.95));
      }
      &:after{
        content: "";
        position: absolute;
        z-index: 3;
        top: 0;
        right:-2px;
        bottom: 0;
        width: 30%;
        @include linear-gradient(left, transparent, rgba(255,255,255,0.95));
      }
    }
  }
  .owl-nav{
    .owl-next, .owl-prev{
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      background: $color-success;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 24px;
      @include border-radius(18px 0 18px 0);
      &:before{
        font-family: $font-awesome;
        line-height: 1;
      }
      &:hover{
        background: $color-success-hover;
      }
    }
    .owl-next{
      right: -10px;
      &:before{
        content: "\f105";
      }
    }
    .owl-prev{
      @include border-radius(0 18px 0 18px);
      left: -10px;
      &:before{
        content: "\f104";
      }
    }
  }
}
.c-gallery-item{
  a{
    display: block;
    position: relative;
    overflow: hidden;
    padding-top: percentage(175/260);
    z-index: 2;
    &:before{
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0;
      @include linear-gradient(top, transparent, rgba(0,0,0,0.4));
      @include transition-all(0.2s);
    }
    &:after{
      content: "";
      background: url("../images/icons/icon32-zoom-white.png") no-repeat;
      width: 32px;
      height: 32px;
      position: absolute;
      z-index: 4;
      top: 50%;
      left: 50%;
      margin-top: -16px;
      margin-left: -16px;
      opacity: 0;
      @include transition-all(0.2s);
    }
  }
  img{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    min-height: 100%;
  }
  &:hover{
    a{
      &:before{
        opacity: 1;
      }
      &:after{
        opacity: 1;
      }
    }
  }
}
//footer responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-footer-top{
    .c-footer-top__support{
      ul{
        li{
          font-size: 15px;
        }
      }
    }
  }
  .c-footer-email{
    margin-bottom: 25px;
  }
  .c-footer-span{
    display: none;
  }
}
@media (min-width: $screen-lg-min){
  .c-footer-top{
    .c-footer-top__support{
      ul{
        li{
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: $screen-xlg-min){

}
@media (min-width: $screen-xxlg-min){
  .c-footer-gallery-slider{
    .owl-nav{
      .owl-next{
        right: -20px;
      }
      .owl-prev{
        left: -20px;
      }
    }
  }
}
//end footer responsive css
/*---------- end footer css ----------*/