/*---------- header css ----------*/
.l-header{
  background: $color-bg2;
  position: fixed;
  z-index: 90;
  top: 0;
  left: 0;
  right: 0;
  @include transition-all(0.2s);
  &.has-fixed{
    @include box-shadow(0 2px 2px rgba(0,0,0,0.15));
  }
  .l-header__inner{
    height: 54px;
    position: relative;
    z-index: 1;
  }
}
.c-help-menu{
  position: absolute;
  z-index: 2;
  left: 35px;
  top: 8px;
  margin-left: -10px;
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      float: left;
      background: url("../images/help-menu-bg.png") no-repeat center center $color-border2;
      background-size: 100% 100%;
      position: relative;
      z-index: 1;
      @include border-radius(6px 6px 0 0);
      &+li:before{
        content: "";
        background: url("../images/menu-shadow-right.png") no-repeat center left;
        width: 4px;
        height: 40px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 3px;
      }
      >a{
        color: $color-text;
        text-decoration: none;
        img{
          max-height: 30px;
        }
      }
      >.c-help-menu__text{
        line-height: 46px;
        display: block;
        padding: 0 15px;
        span{
          display: none;
        }
        i{
          vertical-align: middle;
          margin-right: 5px;
        }
      }
      .c-dropdown-menu{
        left: 10px;
      }
    }
  }
}
.c-search{
  display: inline-block;
  vertical-align: top;
  height: 40px;
  margin-top: 7px;
  border: 2px solid $color-success;
  position: absolute;
  z-index: 3;
  right: 40px;
  top: 0;
  background: #fff;
  width: 305px;
  @include border-radius(18px 0 18px 0);
  .c-search__inner{
    position: relative;
    z-index: 1;
  }
  .form-control{
    background-color: transparent;
    border: none;
    height: 36px;
    &:focus{
      @include box-shadow(none);
    }
  }
  .c-search__btn{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 0;
    text-align: center;
    border: none;
    width: 60px;
    height: 36px;
    @include border-radius(14px 0 14px 0);
    background-color: $color-success;
    line-height: 36px;
    &:focus{
      outline: none;
    }
    i{
      vertical-align: middle;
    }
  }
}
.c-notify{
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
  .icon24-bell{
    float: left;
    margin-top: 15px;
  }
  .c-notify__slider{
    margin-left: 30px;
    width: 310px;
    display: none;
  }
  .c-notify__item{
    line-height: 54px;
    text-align: left;
    height: 54px;
    .c-notify__item__text{
      display: inline-block;
      vertical-align: middle;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 76%;
      color: $color-text;
      a{
        color: $color-text;
        text-decoration: none;
        &:hover{
          color: $color-success;
        }
      }
    }
    .c-notify__item__more{
      display: inline-block;
      vertical-align: middle;
      font-style: italic;
      text-decoration: none;
      &:hover{
        color: $color-success;
      }
    }
  }
}
.c-expand-sidebar{
  position: absolute;
  top: 17px;
  left: -10px;
  z-index: 2;
  width: 31px;
  height: 31px;
  border: none;
  background-color: transparent;
  outline: none;
  &:focus{
    outline: none;
    border: none;
  }
  span{
    background-color: $color-success;
    font-size: 0;
    width: 13px;
    height: 3px;
    position: absolute;
    top: 13px;
    left: 6px;
    @include border-radius(2px);
    @include transition-all(0.3s);
    &:before, &:after{
      content: "";
      background-color: $color-success;
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      @include transition-all(0.3s);
      @include border-radius(2px);
    }
    &:before{
      transform: translateY(-6px);
      width: 18px;
    }
    &:after{
      transform: translateY(6px);
      width: 8px;
    }
  }
  &.is-active{
    span{
      background-color: transparent;
      left: 5px;
      &:before, &:after{
        background-color: $color-text2;
      }
      &:before{
        transform: translateY(0px) rotate(45deg);
        width: 20px;
      }
      &:after{
        transform: translateY(0px) rotate(-45deg);
        width: 20px;
      }
    }
  }
}
.c-expand-search{
  position: absolute;
  z-index: 2;
  top: 13px;
  left:163px;
  outline: none;
  width: 31px;
  height:31px;
  text-align: center;
  line-height: 31px;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 19px;
  color: $color-success;
  display: none;
}
//header responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-search{
    width: 375px;
  }
}
@media (min-width: $screen-lg-min){
  .l-header{
    left: 300px;
    .container{
      max-width: none;
    }
  }
  .c-help-menu{
    >ul{
      >li{
        >.c-help-menu__text{
          span{
            display: inline;
          }
        }
      }
    }
  }
  .c-expand-sidebar{
    left: -53px;
    span{
      width: 18px;
      &:before{
        width: 8px;
        transform: translateY(-3px) rotate(-45deg);
      }
      &:after{
        transform: translateY(3px) rotate(45deg);
      }
    }
    &.is-active{
      left: -10px;
      span{
        background-color: $color-success;
        left: 6px;
        width: 13px;
        &:before, &:after{
          background-color: $color-success;
        }
        &:before{
          transform: translateY(-6px) rotate(0);
          width: 18px;
        }
        &:after{
          transform: translateY(6px) rotate(0);
          width: 8px;
        }
      }
    }
  }
}
@media (min-width: $screen-xlg-min){
  .l-header{
    left: 320px;
    .l-header__inner{
      text-align: center;
    }
  }
  .c-help-menu{
    >ul{
      >li{
        .c-dropdown-menu{
          &:before{
            left: 67px;
          }
        }
      }
    }
  }
  .c-notify{
    .c-notify__slider{
      display: block;
    }
  }
  .c-search{
    position: static;
  }
}
@media (min-width: $screen-xxlg-min){
  .c-help-menu{
    //margin-left: -15px;
    >ul{
      >li{
        .c-dropdown-menu{
          left: 15px;
        }
      }
    }
  }
  .c-search{
    width: 460px;
  }
}
//header responsive css
/*---------- end header css ----------*/