/*---------- loading css ----------*/
#ajax-loader, #ajax-loader-more{
  height: 80px;
  width: 100%;
  top: 44%;
  left:0;
  z-index: 999999;
  display: none
}
.loader{
  position: relative;
  margin: 0px auto;
  width: 100px;
}
#ajax-loader{
  position:fixed;
  height: 100%;
  top: 0;
  background: rgba(0,0,0,0.4);
  @include transition-all(0.2);
}
#ajax-loader .loader{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
}
#ajax-loader-more{
  position:absolute;
  top:0px;
  height:620px;
  background:white;
}
#ajax-loader-more .loader{
  top:35%;
}
.loader:before {content: ''; display: block; padding-top: 100%}
.circular {-webkit-animation: rotate 2s linear infinite; animation: rotate 2s linear infinite; height: 100%; -webkit-transform-origin: center center; transform-origin: center center; width: 100%; position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto}
#ajax-loader:not(.dark) .path {stroke-dasharray: 1,200; stroke-dashoffset: 0; -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite; animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite; stroke-linecap: round}
#ajax-loader-more .path, #ajax-loader.dark .path {stroke-dasharray: 1,200; stroke-dashoffset: 0; -webkit-animation: dash 1.5s ease-in-out infinite, colordark 6s ease-in-out infinite; animation: dash 1.5s ease-in-out infinite, colordark 6s ease-in-out infinite; stroke-linecap: round}
@-webkit-keyframes rotate { 100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);} }
@keyframes rotate { 100% {-webkit-transform: rotate(360deg); transform: rotate(360deg);} }
@-webkit-keyframes dash { 0% {stroke-dasharray: 1,200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89,200; stroke-dashoffset: -35px; } 100% { stroke-dasharray: 89,200; stroke-dashoffset: -124px; } }
@keyframes dash { 0% { stroke-dasharray: 1,200; stroke-dashoffset: 0; } 50% { stroke-dasharray: 89,200; stroke-dashoffset: -35px; } 100% { stroke-dasharray: 89,200; stroke-dashoffset: -124px; } }
@-webkit-keyframes color { 100%, 0% { stroke: #ffffff; } 40% { stroke: #ffffff; } 66% { stroke: #ffffff; } 80%, 90% { stroke: #ffffff; } }
@keyframes color { 100%, 0% { stroke: #ffffff; } 40% { stroke: #ffffff; } 66% { stroke: #ffffff; } 80%, 90% { stroke: #ffffff; } }
@-webkit-keyframes colordark { 100%, 0% { stroke: #414C5C; } 40% { stroke: #414C5C; } 66% { stroke: #414C5C; } 80%, 90% { stroke: #414C5C; } }
@keyframes colordark { 100%, 0% { stroke: #414C5C; } 40% { stroke: #414C5C; } 66% { stroke: #414C5C; } 80%, 90% { stroke: #414C5C; } }
_:-ms-fullscreen, :root #ajax-loader{background:transparent url("../img/ie-spinner-light.gif") no-repeat center center;}
_:-ms-fullscreen, :root #ajax-loader-more{background:transparent url("../img/ie-spinner-dark.gif") no-repeat center center;}
_:-ms-fullscreen, :root #ajax-loader.dark{background:transparent url("../img/ie-spinner-dark.gif") no-repeat center center;}

@-webkit-keyframes grdAiguille{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes grdAiguille{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
@-webkit-keyframes ptAiguille{
  0%{-webkit-transform:rotate(0deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@keyframes ptAiguille{
  0%{transform:rotate(0deg);}
  100%{transform:rotate(360deg);}
}
.loadingwait-2 {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: .6em solid rgba(0,0,0, 0.2);
  border-right: .6em solid rgba(0,0,0, 0.2);
  border-bottom: .6em solid rgba(0,0,0, 0.2);
  border-left: .6em solid #000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loadingwait-2,
.loadingwait-2:after {
  border-radius: 50%;
  width: 6em;
  height: 6em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#filter-wrapper{margin: 20px 0;}
/* Desktop only: Dropdown static height to prevent content moving on loading */
@media only screen and (min-width: 998px) {
  #filter-wrapper{height: 67px;}
  DIV.block-layered-nav-container{min-height:70px}
  DIV#jqFilterOptionsBlock{height:57px}
  .block-layered-nav-wrapper .filter-body .brand-search-box{border-top:1px solid #C3CBD5}
  .block-layered-nav-container .block-layered-nav{height:55px}
  .stickyFilters .block-layered-nav-wrapper .filter-body{top:57px}
  #navBg{display:block; backface-visibility: hidden; height:319px; background:white; width:100%; position:absolute; left:0px; z-index:-509; top:205px; box-shadow: 0px 6px 12px -5px rgba(0,0,0,.30); opacity:0; transition: opacity 100ms ease-in-out, transform 250ms ease-out; transform: scale3d(1, 0, 1); transform-origin: left top}
}
.product-view .product-shop .pdp-final-price span.doorbuster-price a {font-weight:600!important;}
//loading responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){

}
@media (min-width: $screen-lg-min){

}
//end loading responsive css
/*---------- end loading css ----------*/