/*---------- menu css ----------*/
.c-menu{
  padding-bottom: 15px;
  >ul{
    list-style: none;
    padding: 0;
    margin: 0;
    >li{
      position: relative;
      z-index: 1;
      &:after{
        content: "";
        background: rgba(6,147,12,0.2);
        height: 1px;
        left: 15px;
        right: 15px;
        bottom: 0;
        position: absolute;
        z-index: 2;
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
      &.c-menu__root{
        &:after{
          display: none;
        }
      }
      >a{
        text-decoration: none;
        display: block;
        color: $color-text2;
        padding: 14px 30px 14px 45px;
        font-weight: 700;
        //&:after{
        //  content: "\f105";
        //  font-family: $font-awesome;
        //  line-height: 1;
        //  position: absolute;
        //  z-index: 2;
        //  top: 17px;
        //  right: 15px;
        //  font-size: 16px;
        //}
        img{
          float: left;
          width: 24px;
          height: 24px;
          margin: 0 0 0 -30px;
        }
        >.c-menu__expand{
          display: none;
          position: absolute;
          z-index: 2;
          top: 5px;
          right: 5px;
          font-size: 16px;
          width: 40px;
          height:40px;
          text-align: center;
          line-height: 40px;
          color: $color-success;
          @include transition-all(0.2s);
        }
        >.c-menu-node{
          float: left;
          width: 24px;
          height: 24px;
          margin: 0 0 0 -30px;
          text-align: center;
          line-height: 22px;
          font-size: 14px;
        }
      }
      &.is-active, &.active{
        >a{
          color: $color-success;
        }
      }
      &.is-current, &.current{
        .c-menu-sub{
          display: block;
        }
      }
      &.c-menu__child{
        >a{
          >.c-menu__expand{
            display: block;
          }
        }
      }
    }
  }
  &.c-menu--c2{
    >ul{
      >li{
        .c-menu-sub{
          >ul{
            >li{
              >a{
                padding: 7px 15px 7px 60px;
              }
            }
          }
        }
      }
    }
  }
}
.c-menu-sub{
  padding-bottom: 7px;
  display: none;
  >ul{
    list-style: none;
    padding: 0;
    margin: 0;
    >li{
      position: relative;
      z-index: 1;
      &:before{
        content: "\f105";
        font-family: $font-awesome;
        font-size: 14px;
        position: absolute;
        z-index: 2;
        top: 7px;
        left: 44px;
        color: $color-success;
      }
      >a{
        text-decoration: none;
        display: block;
        color: $color-text2;
        padding: 7px 15px 7px 54px;
        font-weight: 700;
      }
      &.is-active, &.active{
        >a{
          color: $color-success;
        }
      }
    }
  }
}
//menu responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-menu{
    padding-bottom: 25px;
    >ul{
      >li{
        &:hover{
          >a{
            color: $color-success;
          }
        }
      }
    }
  }
  .c-menu-sub{
    >ul{
      >li{
        &:hover{
          >a{
            color: $color-success;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){
  .c-menu{
    padding-bottom: 40px;
    >ul{
      >li{
        >a{
          font-size: 15px;
        }
      }
    }
  }
}
//end menu responsive css
/*---------- end menu css ----------*/