/*---------- modal css ----------*/
.c-modal-intro{
  height: 260px;
  background: url("../images/modal-intro.jpg") no-repeat center top;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  margin-bottom: 20px;
  overflow: hidden;
  padding-left: 15px;
  padding-top: 50px;
  @include border-radius(0 16px 0 16px);
  &__title{
    color: $color-success;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__content{
    p{
      margin-left: 18px;
      display: block;
      .fa{
        font-size: 14px;
        float: left;
        margin: 2px 0 0 -18px;
      }
    }
  }
}
.c-form-admin{
  .form-group{
    &:last-child{
      margin-bottom: 0;
    }
  }
  .form-control{
    border-color: $color-border2;
    height:36px;
    @include border-radius(16px 0 16px 0);
  }
}
.c-login-with{
  ul{
    list-style: none;
    margin: 0 -15px;
    padding: 0;
    li{
      width: percentage(1/2);
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      a{
        display: block;
        text-decoration: none;
        color: #fff;
        line-height: 40px;
        text-align: center;
        @include border-radius(6px);
        position: relative;
        z-index: 1;
        padding-left: 40px;
        &.btn-facebook{
          background: #4267b2;
        }
        &.btn-google-plus{
          background: #db4437;
        }
        .fa{
          font-size: 14px;
          position: absolute;
          z-index: 2;
          top: 0;
          left: 0;
          width: 38px;
          text-align: center;
          line-height: 38px;
          &:after{
            content: "";
            position: absolute;
            z-index: 2;
            top: 0;
            right: 0;
            bottom: 0;
            width: 1px;
            @include linear-gradient2(top, transparent, #fff, transparent);
          }
        }
      }
    }
  }
}
.c-message{
  .b-grid{
    overflow: hidden;
    .b-grid__img{
      width: 90px;
      height: auto;
      img{
        min-height: 0;
      }
    }
    .b-grid__content{
      margin-left: 105px;
      padding-top: 15px;
    }
    .b-grid__row{
      margin-bottom: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}

//modal responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){

}
@media (min-width: $screen-lg-min){

}
@media (min-width: $screen-xlg-min){
  .c-modal-intro{
    margin-left: -20px;
    margin-right: -20px;
    margin-top: -20px;
  }
}
@media (min-width: $screen-xxlg-min){

}
//end modal responsive css
/*---------- end example css ----------*/