/*---------- sidebar css ----------*/
.c-close{
  position: absolute;
  z-index: 2;
  top: 3px;
  right: 8px;
  font-size: 16px;
  color: $color-success;
  cursor: pointer;
}
.c-logo{
  text-align: center;
  padding-top: 15px;
  margin-bottom: 20px;
}
.c-auth{
  margin-bottom: 25px;
  text-align: center;
  .c-auth__avatar{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    .c-auth__avatar__img{
      width: 32px;
      height: 32px;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      img{
        width: 100%;
        height: 32px;
      }
    }
  }
  .c-auth__list{
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        display: inline-block;
        vertical-align: top;
        &+li:before{
          content: "/";
          display: inline-block;
          vertical-align: middle;
          margin-right: 4px;
        }
        a{
          text-decoration: none;
          color: $color-text;
          font-weight: 700;
        }
        &:hover{
          a{
            color: $color-success;
          }
        }
      }
    }
  }
}
.c-app-ovelay{
  z-index:-1;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background:#000;
  background:rgba(0,0,0,0.6);
  opacity:0;
  visibility:hidden;
  @include transition-all(0.2s);
}
.has-ovelay-show{
  visibility:visible;
  opacity:1;
  z-index:98;
}
.has-menu-open{
  transform: translate3d( 300px, 0, 0 );
  -webkit-transform: translate3d( 300px, 0, 0 );
}
.has-body-open{
  //overflow:hidden;
}
.has-page-open{
  .l-page-content{
    transform: translate3d( 300px, 0, 0 );
    -webkit-transform: translate3d( 300px, 0, 0 );
  }
}
//sidebar responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){
  .c-logo{
    padding-top: 25px;
    margin-bottom: 30px;
  }
  .c-auth{
    margin-bottom: 35px;
    .c-auth__avatar{
      .c-auth__avatar__img{
      }
    }
  }
}
@media (min-width: $screen-md-min){

}
@media (min-width: $screen-lg-min){
  .c-close{
    display: none;
  }
  .c-logo{
    padding-top: 35px;
    margin-bottom: 40px;
  }
  .c-auth{
    margin-bottom: 40px;
  }
  .has-ovelay-show{
    z-index: -1;
    opacity: 0;
  }
  .has-menu-open{
    transform: translate3d( -300px, 0, 0 );
    -webkit-transform: translate3d( -300px, 0, 0 );
  }
}
@media (min-width: $screen-xlg-min){
  .has-menu-open{
    transform: translate3d( -320px, 0, 0 );
    -webkit-transform: translate3d( -320px, 0, 0 );
  }
}
//end sidebar responsive css
/*---------- end sidebar css ----------*/