/*---------- browse css ----------*/
/*browse banner*/
.browse-banner{
  margin-bottom: 20px;
  img{
    width: 100%;
    height: auto;
  }
}
/*end browse banner*/
/*product grid*/
.product-grid{
  >ul{
    list-style: none;
    margin: 0;
    padding: 0;
    >li{
      float: left;
      width: percentage(1/4);
      padding-bottom: 20px;
    }
  }
}
/*end product grid*/
/*browse content*/
.browse-content{
  padding: 20px 0 0;
  .c-widget{
    padding-bottom: 25px;
    border-bottom: 1px solid $color-border2;
    &:last-child{
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }
  }
  &__share{
    margin-top: 20px;
    >ul{
      list-style: none;
      margin: 0;
      padding: 0;
      >li{
        display: inline-block;
        vertical-align: top;
        margin-right: 5px;
        >a{
          display: block;
          text-decoration: none;
          color: #fff;
          font-size: 12px;
          line-height: 30px;
          padding: 0 15px;
          font-weight: 700;
          .fa{
            font-style: 14px;
          }
          .icon-left{
            margin-right: 5px;
          }
          &.btn-facebook{
            background: #455fa1;
          }
          &.btn-google-plus{
            background: #eb4026;
          }
        }
      }
    }
  }
}
/*end browse content*/
/*browse filter*/
.browse-fillter{
  border: 1px solid $color-border2;
  margin-bottom: 20px;
  &__title{
    background: $color-bg;
    padding: 0 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    &__name{
      display: inline-block;
      vertical-align: top;
      line-height: 39px;
      .fa{
        margin-right: 5px;
        font-style: 16px;
        color: $color-success;
        @include animation(active-filter infinite linear 2s);
      }
    }
  }
  &__btn{
    position: absolute;
    z-index: 2;
    top: 0;
    right: 1px;
    font-size: 19px;
    width: 39px;
    height: 38px;
    text-align: center;
    line-height: 39px;
    cursor: pointer;
    color: $color-time;
    &:hover{
      color: #000;
    }
  }
  &__content{
    border-top: 1px solid $color-border2;
    display: none;
    label{
      font-weight: 400;
      color: $color-time;
      &:focus{
        color: $color-text;
      }
    }
    .checkbox-inline{
      &+.checkbox-inline{
        margin-left: 15px;
      }
      label{
        font-weight: 400;
        color: $color-time;
      }
      &:hover{
        label{
          color: $color-text;
        }
      }
      &.is-active, &.active{
        label{
          color: $color-text;
        }
      }
    }
    .radio-inline{
      &+.radio-inline{
        margin-left: 15px;
      }
      label{
        font-weight: 400;
        color: $color-time;
      }
      &:hover{
        label{
          color: $color-text;
        }
      }
      &.is-active, &.active{
        label{
          color: $color-text;
        }
      }
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        vertical-align: middle;
        &+li{
          margin-left: 11px;
        }
        a{
          display: block;
          text-decoration: none;
          color: $color-time;
        }
        &:hover{
          a{
            color: $color-text;
          }
        }
        &.is-active, &.active{
          a{
            color: $color-text;
          }
        }
      }
    }
  }
}
.browse-fillter-table{
  margin-bottom: 0;
  &__col1{
    width: 129px;
    background: $color-bg;
    border-right: 1px solid $color-border2;
  }
  &__col2{

  }
  >tbody{
    >tr{
      >td{
        border-top-color: $color-border2;
      }
      &:first-child{
        >td{
          border-top: none;
        }
      }
    }
  }
}
.browse-result{
  padding-bottom: 12px;
  margin-bottom: 20px;
  border-bottom: 1px solid $color-border2;
  label{
    display: block;
    font-weight: 400;
    line-height: 24px;
    margin: 0 16px 10px 0;
  }
  &__item{
    display: inline-block;
    vertical-align: top;
    background: $color-bg;
    line-height: 24px;
    margin-right: 16px;
    margin-bottom: 5px;
    padding: 0 9px;
    color: $color-time;
    .fa{
      font-size: 16px;
      margin-left: 10px;
      cursor: pointer;
      &:hover{
        color: #000;
      }
    }
  }
  &__removeall{
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    margin-bottom: 5px;
    padding: 0 9px;
    background: $color-text;
    color: #fff;
    cursor: pointer;
  }
}
@keyframes active-filter{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@-webkit-keyframes active-filter{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
/*end browse filter*/
//browse responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){
}
@media (min-width: $screen-md-min){
  .browse-banner{
    margin-bottom: 25px;
  }
  .product-grid{
    >ul{
      >li{
        padding-bottom: 25px;
      }
    }
  }
  .browse-content{
    padding: 30px 0 0;
    .c-widget{
      padding-bottom: 35px;
    }
    &__share{
      margin-top: 25px;
    }
  }
  .browse-fillter{
    margin-bottom: 25px;
  }
  .browse-result{
    label{
      display: inline-block;
      vertical-align: top;
      margin: 0 16px 5px 0;
    }
  }
}
@media (min-width: $screen-lg-min){
  .browse-banner{
    margin-bottom: 30px;
  }
}
@media (min-width: $screen-xlg-min){
  .product-grid{
    >ul{
      >li{
        width: percentage(1/6);
      }
    }
  }
}
@media (min-width: $screen-xxlg-min){

}
//end browse responsive css
/*---------- end browse css ----------*/