/*---------- checkout css ----------*/
.c-cart-product{
  background: $color-bg;
  padding: 10px 0;
  @include border-radius(4px);
  .modal &{
    padding: 0;
    background: transparent;
  }
  &__title{
    padding: 0 10px;
    margin-bottom: 5px;
    font-weight: 700;
    .fa{
      margin-right: 10px;
      color: $color-success;
      font-size: 18px;
    }
    .modal &{
      padding: 0 0 10px;
    }
  }
  &__cal{
    border-top: 1px solid $color-border2;
    padding-top: 10px;
    label{
      font-weight: 400;
      margin: 0;
      float: left;
      width: calc(100% - 155px);
      text-align: right;
    }
  }
  &__row{
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 5px;
    .modal &{
      padding-left: 0;
      padding-right: 0;
    }
    &.has-btn{
      text-align: right;
      padding-top: 10px;
    }
    .btn{
      min-width: 115px;
    }
  }
  &__price{
    font-family: $font-dosis;
    font-size: 18px;
    width: 155px;
    float: right;
    text-align: right;
  }
  &__total-price{
    font-family: $font-dosis;
    font-size: 18px;
    color: $color-red;
    width: 155px;
    float: right;
    text-align: right;
  }
  &__line{
    height: 1px;
    background: $color-border2;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  &__back{
    float: left;
    padding: 5px 0;
    color: $color-text;
    .fa{
      margin-right: 5px;
      font-size: 16px;
    }
    &:hover{
      color: $color-success;
    }
  }
  a.c-cart-product__back{
    text-decoration: none;
  }
  &__content{
    overflow: auto;
    height: 291px;
    .b-grid{
      background: #fff;
      margin: 10px;
      padding: 10px;
      position: relative;
      z-index: 1;
      .b-grid__img{
        a{
          display: table-cell;
          width: 50px;
          height: 50px;
          vertical-align: middle;
          text-align: center;
        }
        img{
          width: auto;
          min-height: 0;
          max-width: 50px;
          max-height: 50px;
        }
      }
      .b-grid__content{
        margin-right: 88px;
      }
      .b-grid__title{
        color: $color-success;
        text-decoration: none;
        display: block;
        overflow: hidden;
        max-height: 20px * 2;
        &:hover{
          color: $color-text;
        }
      }
      .b-grid__number{
        display: inline-block;
        vertical-align: middle;
        width: 65px;
      }
      .b-grid__price{
        position: absolute;
        z-index: 2;
        top: 10px;
        right: 10px;
        font-family: $font-dosis;
        font-size: 18px;
        max-width: 95px;
      }
      .b-grid__remove{
        position: absolute;
        z-index: 2;
        top: -5px;
        right: -5px;
        background: $color-success;
        text-align: center;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        width: 20px;
        height: 20px;
        line-height: 18px;
        @include border-radius(100%);
      }
    }
  }
  &__table{
    .table{
      >thead{
        >tr{
          >th{
            background: $color-bg;
            font-weight: 400;
            border-bottom-width: 0;
            text-align: center;
            &.text-left{
              text-align: left;
            }
            &.text-right{
              text-align: right;
            }
          }
        }
      }
      >tbody{
        >tr{
          >td{
            border-top-color: $color-border2;
            text-align: center;
            &.text-left{
              text-align: left;
            }
            &.text-right{
              text-align: right;
            }
          }
          &:first-child{
            >td{
              border-top: none;
            }
          }
        }
      }
    }
    .b-grid{
      position: relative;
      z-index: 1;
      min-height: 80px;
      .b-grid__img{
        border: 1px solid $color-border2;
        width: 80px;
        height: 80px;
        a{
          display: table-cell;
          width: 78px;
          height: 78px;
          vertical-align: middle;
          text-align: center;
        }
        img{
          width: auto;
          min-height: 0;
          max-width: 78px;
          max-height: 78px;
        }
      }
      .b-grid__content{
        margin-left: 92px;
      }
      .b-grid__title{
        color: $color-text;
        text-decoration: none;
        display: block;
        overflow: hidden;
        max-height: 20px * 2;
        font-weight: 400;
        &:hover{
          color: $color-success;
        }
      }
      .b-grid__remove{
        font-size: 12px;
        cursor: pointer;
        color: $color-link;
        text-decoration: none;
        i{
          margin-right: 4px;
          vertical-align: middle;
          margin-top: -1px;
        }
      }
    }
  }
  &__price-normal{
    font-family: $font-dosis;
    font-size: 18px;
  }
  &__price-red{
    font-family: $font-dosis;
    font-size: 18px;
    color: $color-red;
  }
  &__number{
    display: inline-block;
    vertical-align: middle;
    width: 65px;
  }
}
//checkout responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-cart-product{
    &__content{
      .modal &{
        height: 231px;
      }
      .b-grid{
        .b-grid__content{
          .modal &{
            margin-right: 160px;
            margin-left: 100px;
          }
        }
        .b-grid__number{
          .modal &{
            position: absolute;
            z-index: 2;
            top: 15px;
            right: 100px;
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){
  .c-cart-product{
    padding: 15px 0;
    &__title{
      padding: 0 15px;
    }
    &__row{
      padding-left: 15px;
      padding-right: 15px;
    }
    &__line{
      margin-top: 15px;
      margin-bottom: 15px;
    }
    &__content{
      height: 331px;
      .b-grid{
        margin: 15px;
        padding: 15px;
        .b-grid__price{
          top: 15px;
          right: 15px;
        }
        .b-grid__remove{
          top: -7px;
          right: -7px;
        }
      }
    }
  }
}
@media (min-width: $screen-xlg-min){
  .c-cart-product{
    padding: 20px 0;
    &__title{
      padding: 0 20px;
    }
    &__row{
      padding-left: 20px;
      padding-right: 20px;
    }
    &__content{
      height: 311px;
      .modal &{
        height: 311px;
      }
      .b-grid{
        margin: 15px 20px;
        min-height: 86px + 30px;
        .b-grid__img{
          width: 86px;
          height: 86px;
          a{
            width: 86px;
            height: 86px;
          }
          img{
            max-width: 86px;
            max-height: 86px;
          }
        }
        .b-grid__content{
          margin-right: 160px;
          margin-left: 100px;
        }
        .b-grid__number{
          position: absolute;
          z-index: 2;
          top: 15px;
          right: 100px;
        }
        .b-grid__remove{
          top: -10px;
          right: -10px;
        }
      }
    }
  }
}
@media (min-width: $screen-xxlg-min){

}
//end checkout responsive css
/*---------- end checkout css ----------*/