/*---------- detail css ----------*/
/*commit top*/
.c-commit-top{
  margin-bottom: 50px;
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/3);
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .b-grid{
    min-height: 48px;
    &__img{
      width: 48px;
      height:48px;
      background: #fff;
      text-align: center;
      line-height: 48px;
      @include border-radius(100%);
      img{
        width: auto;
        min-height: 0;
      }
    }
    &__row{
      color: $color-time;
      font-size: 12px;
    }
    &__title{
      color: $color-text;
      font-size: 14px;
    }
  }
}
/*end commit top*/
/*detail*/
.c-detail{
  background: #fff;
  @include border-radius(26px 0 26px 0);
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  &__line{
    position: absolute;
    z-index: 2;
    width: 1px;
    background: $color-bg;
    top: 0;
    bottom: 0;
    left: percentage(930/1400);
    display: none;
  }
  &__left{
    padding: 18px 0;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $color-border2;
  }
  &__right{
    padding: 18px 0;
  }
}
.c-detail-title{
  text-align: center;
  margin-bottom: 20px;
  padding: 0 70px;
  h1{
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
}
.c-detail-input{
  text-align: center;
  padding: 0 15px;
  margin-bottom: 20px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      vertical-align: middle;
      color: $color-time;
      &+li:before{
        content: "|";
      }
    }
  }
  &__logo{
    display: inline-block;
    vertical-align: middle;
    img{
      max-height: 25px;
    }
  }
}
.c-detail-img{
  width: 68px + 460px + 5px;
  margin: 0 auto;
  &__thumb{
    float: left;
    width: 68px;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        margin-bottom: 5px;
        padding-bottom: 5px;
        border-bottom: 1px solid $color-border2;
        &:last-child{
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }
        a{
          display: block;
          height: 68px;
          width: 68px;
          display: table-cell;
          vertical-align: middle;
          background: $color-bg;
          text-align: center;
          img{
            max-width: 68px;
            max-height: 68px;
          }
        }
      }
    }
  }
  &__main{
    float: right;
    width: 460px;
    height: 460px;
    background: $color-bg;
    .b-table__cell{
      width: 460px;
      height:460px;
      text-align: center;
    }
    img{
      max-width: 460px;
      max-height: 460px;
    }
  }
}
.c-detail-gift{
  text-align: center;
  padding: 17px 0 0 73px;
  i{
    margin-right: 7px;
    vertical-align: middle;
  }
}
.c-detail-tag{
  background: url("../images/detail-tag.png") no-repeat;
  width: 53px;
  height:64px;
  text-align: center;
  position: absolute;
  z-index: 2;
  top: -6px;
  left: 16px;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0 0;
  color: #fff;
}
.c-detail-best{
  padding: 0 10px;
  .b-grid{
    min-height: 60px;
    .b-grid__img{
      width: 60px;
      height: 60px;
    }
    .b-grid__content{
      margin-left: 70px;
    }
    .b-grid__row{
      font-weight: 700;
      font-size: 12px;
    }
  }
}
.c-detail-line{
  height: 1px;
  background: $color-border2;
  margin: 15px 0;
}
.c-detail-desc{
  padding: 0 10px;
  p{
    font-size: 12px;
  }
  &__icon{
    padding-left: 20px;
    position: relative;
    z-index: 1;
    display: block;
    &:before{
      content: "\f046";
      font-family: $font-awesome;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      color: $color-success;
    }
  }
}
.c-detail-content{
  padding: 0 10px;
}
.c-detail-row{
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0;
  }
  label{
    margin: 0;
    font-weight: 400;
    float: left;
    padding-top: 6px;
    font-size: 12px;
  }
  &__label-big{
    padding-top: 8px !important;
  }
  &__text{
    margin-left: 105px;
  }
  &__btn{
    list-style: none;
    margin: 0;
    padding: 10px 0;
    overflow: hidden;
    li{
      float: left;
      margin-right: 10px;
      &:last-child{
        margin-right: 0;
      }
    }
    .btn{
      line-height: 1.5;
      font-size: 15px;
      font-weight: 400;
      padding: 10px 18px;
      i{
        float: left;
        margin: -5px 7px 0 0;
      }
    }
  }
  &__fee{
    font-size: 12px;
    a{
      text-decoration: none;
      &:hover{
        color: $color-success;
      }
    }
  }
  &__support{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    li{
      float: left;
      margin-right: 15px;
      margin-bottom: 5px;
      a{
        text-decoration: none;
        color: $color-text;
        i{
          display: inline-block;
          vertical-align: middle;
          margin-right: 5px;
          width: 32px;
          height: 32px;
          background: $color-success;
          @include border-radius(100%);
          text-align: center;
          color: #fff;
          line-height: 30px;
          font-size: 16px;
        }
        &:hover{
          color: $color-success;
        }
      }
    }
  }
}
.c-detail-price{
  color: $color-red;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-family: $font-dosis;
  sup{
    font-size: 14px;
  }
}
.c-detail-oldprice{
  font-size: 16px;
  color: $color-time;
  display: inline-block;
  vertical-align: middle;
}
.c-detail-lowprice{
  color: $color-red;
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  font-family: $font-dosis;
  sup{
    font-size: 14px;
  }
}
.c-detail-number{
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 1;
  border: 1px solid $color-border2;
  width: 138px;
  @include border-radius(4px);
  .form-control{
    border: none;
    height: 32px;
    text-align: center;
    padding: 2px 32px;
    background-color: transparent;
  }
  &__prev, &__next{
    position: absolute;
    z-index: 2;
    top: 0;
    width: 32px;
    height: 32px;
    background: $color-bg;
    text-align: center;
    cursor: pointer;
    padding: 5px 0 0;
    color: $color-text;
    font-size: 16px;
    font-weight: 700;
  }
  &__prev{
    left: 0;
    @include border-radius(4px 0 0 4px);
  }
  &__next{
    right: 0;
    @include border-radius(0 4px 4px 0);
  }
}
.c-detail-email{
  position: relative;
  z-index: 1;
  margin-right: 10px;
  border-bottom: 1px solid $color-success;
  .form-control{
    border: none;
    padding: 4px 65px 4px 0;
    font-size: 12px;
  }
  .btn{
    position: absolute;
    top: 1px;
    right: -10px;
  }
}
/*end detail*/
/*detail bottom*/
.c-detail-bottom{
  background: #fff;
  @include border-radius(26px 0 26px 0);
  position: relative;
  z-index: 1;
  &__line{
    position: absolute;
    z-index: 2;
    width: 1px;
    background: $color-bg;
    top: 0;
    bottom: 0;
    left: percentage(930/1400);
    display: none;
  }
  &__left{
    padding: 0 0 18px;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid $color-border2;
  }
  &__right{
  }
  &__title{
    font-size: 16px;
    margin: 0;
    padding: 0 0 20px;
  }
  &__table{
    margin-bottom: 20px;
    >tbody{
      >tr{
        >td{
          border-top: none;
        }
        &:nth-child(odd){
          >td{
            background: $color-bg;
          }
        }
      }
    }
    .col1{
      width: 190px;
    }
    .col2{
      //width: percentage(700/890);
    }
  }
}
.c-tabs{
  &__title{
    height:46px;
    text-align: center;
    @include linear-gradient(bottom, $color-bg, #fff);
    ul{
      display: inline-block;
      vertical-align: top;
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        float: left;
        a{
          display: block;
          line-height: 46px;
          text-decoration: none;
          padding: 0 15px;
          color: $color-time;
        }
        &.active, &:hover{
          a{
            color: $color-success;
          }
        }
      }
    }
  }
  &__content{
    padding: 15px 0;
  }
  &__pane{
    padding: 0 20px;
  }
}
.c-detail-bottom__left{
  .b-maincontent{
    margin-bottom: 20px;
  }
}
/*end detail bottom*/
/*product float*/
.c-product-float{
  padding: 20px 0;
  &__title{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: percentage(1/4);
      padding-bottom: 15px;
    }
  }
}
/*end product float*/
.c-detail-other{
  .c-box{
    .c-box__title{
      padding-top: 30px;
    }
  }
}
//detail responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-detail{
    margin-bottom: 30px;
    &__line{
      display: block;
    }
    &__left{
      float: left;
      width: percentage(930/1400);
      border-bottom: none;
    }
    &__right{
      float: right;
      width: percentage(470/1400);
    }
  }
  .c-detail-bottom{
    &__line{
      display: block;
    }
    &__left{
      float: left;
      width: percentage(930/1400);
      border-bottom: none;
    }
    &__right{
      float: right;
      width: percentage(470/1400);
    }
  }
  .c-product-float{
    ul{
      li{
        width: percentage(1);
        padding-bottom: 20px;
      }
    }
  }
  .c-tabs{
    &.has-fixed{
      padding-top: 46px;
      .c-tabs__title{
        position: fixed;
        z-index: 80;
        top: 54px;
      }
    }
  }
}
@media (min-width: $screen-lg-min){
  .c-commit-top{
    margin-bottom: 25px;
    .b-grid{
      &__row{
        font-size: 14px;
      }
      &__title{
        font-size: 16px;
      }
    }
  }
  .c-detail-input{
    margin-bottom: 25px;
  }
}
@media (min-width: $screen-xlg-min){
  .c-detail-best{
    padding: 0 17px;
    .b-grid{
      min-height: 100px;
      .b-grid__img{
        width: 100px;
        height: 100px;
      }
      .b-grid__content{
        margin-left: 110px;
        padding-top: 10px;
      }
      .b-grid__row{
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 14px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .c-detail-desc{
    padding: 0 17px;
    p{
      font-size: 14px;
    }
  }
  .c-detail-content{
    padding: 0 17px;
  }
  .c-detail-row{
    label{
      font-size: 14px;
      padding-top: 4px;
    }
    &__text{
      margin-left: 127px;
    }
    &__fee{
      font-size: 14px;
    }
    &__support{
      li{
        margin-bottom: 0;
      }
    }
    &__btn{
      margin: 0 -7px;
      li{
        margin-right: 0;
        width: percentage(1/2);
        padding-left: 7px;
        padding-right: 7px;
      }
      .btn{
        width: 100%;
        display: block;
        font-size: 18px;
        padding: 12px 30px;
      }
    }
  }
  .c-detail-price{
    font-size: 24px;
    margin-right: 15px;
  }
  .c-detail-email{
    .form-control{
      font-size: 14px;
    }
  }
  .c-detail-bottom{
    position: relative;
    z-index: 1;
  }
  .c-product-float{
    &.has-fixed{
      position: fixed;
      top: 65px;
      &.has-ab{
        position: absolute;
        top: auto;
        bottom: 0;
        right: 0;
      }
    }
    ul{
      li{
        width: percentage(1/2);
      }
    }
  }
}
@media (min-width: $screen-xxlg-min){

}
//end detail responsive css
/*---------- end detail css ----------*/