/*---------- example css ----------*/
/*name*/

/*end name*/
//example responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){

}
@media (min-width: $screen-lg-min){

}
//end example responsive css
/*---------- end example css ----------*/