/*---------- faq css ----------*/
/*faq*/
.c-faq-item{
  border: 1px solid $color-border2;
  margin-bottom: 20px;
  @include border-radius(26px 0 26px 0);
  &__title{
    position: relative;
    z-index: 1;
    cursor: pointer;
    min-height: 46px;
    padding-left: 55px;
    padding-right: 40px;
    @include border-radius(26px 0 26px 0);
  }
  &__icon{
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 2;
    width: 32px;
    height: 32px;
    margin-top: -16px;
    line-height: 32px;
    background: url("../images/icons/icon32-faq.png") no-repeat center center;
  }
  &__caret{
    position: absolute;
    top: 50%;
    right: 20px;
    z-index: 2;
    font-size: 18px;
    margin-top: -8px;
    color: $color-success;
  }
  &__name{
    display: table;
    width: 100%;
    height: 46px;
    span{
      display: block;
      display: table-cell;
      vertical-align: middle;
      padding: 10px 0;
    }
  }
  &__content{
    padding: 12px 15px;
    display: none;
  }
  &:nth-child(even){
    .c-faq-item__title{
      background: #f4f5f7;
    }
  }
  &.is-active{
    .c-faq-item__title{
      background: $color-success;
    }
    .c-faq-item__icon{
      background: url("../images/icons/icon32-faq-white.png") no-repeat center center;
    }
    .c-faq-item__name{
      color: #fff;
      span{
        font-weight: bold;
      }
    }
    .c-faq-item__caret{
      color: #fff;
    }
  }
}
/*end faq*/
//faq responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){

}
@media (min-width: $screen-lg-min){

}
//end faq responsive css
/*---------- end faq css ----------*/