/*---------- home css ----------*/
/*slider*/
.c-main-banner{
  margin-bottom: 15px;
  .c-main-banner__top{
    margin-bottom: percentage(20/690);
    img{
      width: 100%;
    }
  }
  .c-main-banner__bottom{
    img{
      width: 100%;
    }
  }
}
.c-slider{
  position: relative;
  z-index: 1;
  .owl-carousel{
    .owl-nav{
      .owl-next, .owl-prev{
        position: absolute;
        z-index: 2;
        top: 50%;
        width: 40px;
        height: 40px;
        margin-top: -20px;
        background: $color-success;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 24px;
        opacity: 0.5;
        @include border-radius(18px 0 18px 0);
        display: none;
        &:before{
          font-family: $font-awesome;
          line-height: 1;
        }
        &:hover{
          opacity: 1;
        }
      }
      .owl-next{
        right: 20px;
        &:before{
          content: "\f105";
        }
      }
      .owl-prev{
        @include border-radius(0 18px 0 18px);
        left: 20px;
        &:before{
          content: "\f104";
        }
      }
    }
    .owl-dots{
      position: relative;
      z-index: 2;
      bottom: 35px;
      left: 0;
      right: 0;
      text-align: center;
      line-height: 20px;
    }
    .owl-dot{
      width: 20px;
      height: 20px;
      border: 1px solid $color-success;
      display: inline-block;
      vertical-align: top;
      @include border-radius(100%);
      margin: 0 5px;
      padding: 3px;
      span{
        width: 12px;
        height: 12px;
        display: none;
        background: $color-success;
        @include border-radius(100%);
      }
      &.active{
        span{
          display: block;
        }
      }
    }
  }
  &:hover{
    .owl-carousel{
      .owl-nav{
        .owl-next, .owl-prev{
          display: block;
        }
      }
    }
  }
}
/*end slider*/
/*commit*/
.c-commit{
  margin-bottom: 15px;
  ul{
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    li{
      float: left;
      width: percentage(1/5);
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
.c-commit-item{
  .c-commit-item__row{
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .c-commit-item__title{
    font-weight: 700;
    display: block;
  }
  .c-commit-item__icon{
    padding: 1px;
    width: 80px;
    height: 80px;
    margin: 0 auto 10px;
    @include linear-gradient(top, $color-green, transparent);
    @include border-radius(100%);
    .c-commit-item__icon__inner{
      background: $color-bg;
      height: 78px;
      line-height: 78px;
      text-align: center;
      @include border-radius(100%);
    }
  }
}
/*end commit*/
/*clients*/
.c-clients{
  padding: 30px 0 0;
  background: url("../images/clients-bg.jpg") no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  margin-bottom: 23px;
  &:before{
    content: "";
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
  }
  .c-clients__title{
    text-align: center;
    color: $color-success;
    font-weight: 700;
    font-size: 20px;
    position: relative;
    z-index: 3;
    margin-bottom: 35px;
    span{
      font-size: 30px;
    }
  }
  .c-clients__content{
    position: relative;
    z-index: 3;
    padding-bottom: 53px;
  }
  .c-clients__more{
    text-align: center;
    height: 23px;
    position: relative;
    z-index: 3;
    margin-top: -23px;
  }
}
.c-clients-slider{
  position: relative;
  z-index: 1;
  margin: 0 50px;
  .owl-nav{
    .owl-next, .owl-prev{
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      background: $color-success;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 24px;
      @include border-radius(18px 0 18px 0);
      &:before{
        font-family: $font-awesome;
        line-height: 1;
      }
      &:hover{
        background: $color-success-hover;
      }
    }
    .owl-next{
      right: -50px;
      &:before{
        content: "\f105";
      }
    }
    .owl-prev{
      @include border-radius(0 18px 0 18px);
      left: -50px;
      &:before{
        content: "\f104";
      }
    }
  }
}
.c-clients-item{
  margin: 0 1px;
  .c-clients-item__border{
    border: 1px solid #fff;
    padding: 25px 25px 45px;
    @include border-radius(25px 0 25px 0);
  }
  .c-clients-item__content{
    color: #fff;
    text-align: center;
    line-height: 25px;
    overflow: hidden;
    height: 25px * 4;
  }
  .c-clients-item__avatar{
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin: -24px auto 15px;
    background: #fff;
    @include border-radius(100%);
    img{
      height: 48px;
    }
  }
  .c-clients-item__name{
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
  }
  .c-clients-item__author{
    color: #fff;
    text-align: center;
    font-style: italic;
  }
}
/*end clients*/
/*home content*/
.c-home-category{
}
.c-home-col{
  width: 50%;
  float: left;
}
.c-home-row{
  margin: 0 -10px;
  .c-home-col{
    padding-left: 10px;
    padding-right: 10px;
  }
}
.c-home-media{
}
/*end home content*/
/*map*/
.c-maps{
  padding: 10px 0;
}
.c-map-area{
  position: relative;
  z-index: 1;
  //background: #000;
  &__view{
    height: 400px;
    opacity: 0.8;
    position: relative;
    z-index: 2;
    &:before{
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom:0;
      background: rgba(0,0,0,0.2);
    }
    iframe{
      width: 100%;
      height: 100%;
    }
  }
  &__caption{
    background: #fff;
    position: absolute;
    z-index: 3;
    top: 40px;
    right: 20px;
    width: 47%;
    padding: 10px 10px;
    @include border-radius(30px 0 30px 0);
  }
  &__logo{
    text-align: center;
    margin-bottom: 7px;
    img{
      height: 35px;
    }
  }
  &__content{
    height: 247px;
  }
}
.c-map-item{
  cursor: pointer;
  padding: 7px 10px;
  @include border-radius(3px);
  &:hover{
    background: $color-bg;
  }
  &__title{
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-weight: 700;
    &:before{
      content: "";
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 50px;
      height: 2px;
      background: $color-success;
    }
  }
  &__row{
    margin-bottom: 7px;
    padding-left: 30px;
    i{
      float: left;
      margin: 0 0 0 -28px;
    }
  }
}
/*end map*/
/*home banner slider*/
.c-home-banner-slider{
  position: relative;
  z-index: 1;
  .owl-nav{
    .owl-next, .owl-prev{
      position: absolute;
      z-index: 2;
      top: 50%;
      width: 40px;
      height: 40px;
      margin-top: -20px;
      background: rgba(255,255,255,0.6);
      border: 1px solid $color-success;
      text-align: center;
      line-height: 40px;
      color: $color-success;
      font-size: 24px;
      @include border-radius(18px 0 18px 0);
      &:before{
        font-family: $font-awesome;
        line-height: 1;
      }
      &:hover{
        background: $color-success;
        color: #fff;
      }
    }
    .owl-next{
      right: -20px;
      &:before{
        content: "\f105";
      }
    }
    .owl-prev{
      @include border-radius(0 18px 0 18px);
      left: -20px;
      &:before{
        content: "\f104";
      }
    }
  }
}
.c-home-banner-item{
  background: #fff;
  overflow: hidden;
  @include border-radius(32px 0 32px 0);
}
/*end home banner slider*/
/*home product slider*/
.c-home-product-slider{
  position: relative;
  z-index: 1;
  padding-top: 14px;
  padding-bottom: 25px;
  .owl-nav{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -65px;
    text-align: center;
    .owl-next, .owl-prev{
      z-index: 2;
      width: 40px;
      height: 40px;
      background: $color-success;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 24px;
      display: inline-block;
      vertical-align: top;
      margin: 0 1px;
      @include border-radius(18px 0 18px 0);
      &:before{
        font-family: $font-awesome;
        line-height: 1;
      }
      &:hover{
        background: $color-success-hover;
      }
    }
    .owl-next{
      &:before{
        content: "\f105";
      }
    }
    .owl-prev{
      @include border-radius(0 18px 0 18px);
      &:before{
        content: "\f104";
      }
    }
  }
}
/*end home product slider*/
/*home top*/
.c-home-top{
  .c-home-top__left{
  }
  .c-home-top__center{
    margin-bottom: 50px;
  }
  .c-home-top__right{
  }
}
.c-home-logo{
  &.c-home-logo-slider{
    height: 100px * 4 - 21px;
    overflow: hidden;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: 50%;
      padding-bottom: 3px;
      padding-top: 3px;
    }
  }
  .c-home-logo__item{
    width: 130px;
    margin: 0 auto;
    .c-home-logo__item__inner{
      display: table;
      width: 100%;
    }
    a{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      height: 80px;
    }
    img{
      max-width: 130px;
      max-height: 80px;
    }
  }
  .swiper-container{
    height: 100px * 4;
    width: 100%;
  }
}
.c-home-hot{
  &.c-home-hot-slider{
    height: 100px * 4 - 21px;
    overflow: hidden;
  }
  .b-grid{
    overflow: hidden;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-bg;
    .b-grid__img{
      width: 50px;
      height: 50px;
      a{
        display: block;
        text-align: center;
      }
      img{
        max-width: 100%;
        width: auto;
        height: auto;
        min-height: 0;
        max-height: 50px;
      }
    }
    .b-grid__content{
      margin-left: 62px;
    }
    .b-grid__title{
      color: $color-text;
      text-decoration: none;
      line-height: 20px;
      display: block;
      max-height: 40px;
      overflow: hidden;
      &:hover{
        color: $color-success;
      }
    }
    .b-grid__price{
      color: $color-red;
      font-size: 20px;
      font-family: $font-dosis;
      font-weight: 500;
    }
  }
  .swiper-container{
    height: 100px * 4 - 21px;
    width: 100%;
  }
}
.c-home-promotion-slider{
  position: relative;
  z-index: 1;
  margin-bottom: 25px;
  min-height: 425px;
  &:before{
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    left:-2px;
    bottom: 0;
    width: 35%;
    @include linear-gradient(right, transparent, rgba(255,255,255,1));
  }
  &:after{
    content: "";
    position: absolute;
    z-index: 3;
    top: 0;
    right:-2px;
    bottom: 0;
    width: 35%;
    @include linear-gradient(left, transparent, rgba(255,255,255,1));
  }
  .owl-carousel{
    position: static;
  }
  .owl-nav{
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0;
    bottom: -55px;
    text-align: center;
    .owl-next, .owl-prev{
      z-index: 2;
      width: 40px;
      height: 40px;
      background: $color-success;
      text-align: center;
      line-height: 40px;
      color: #fff;
      font-size: 24px;
      display: inline-block;
      vertical-align: top;
      margin: 0 1px;
      @include border-radius(18px 0 18px 0);
      &:before{
        font-family: $font-awesome;
        line-height: 1;
      }
      &:hover{
        background: $color-success-hover;
      }
    }
    .owl-next{
      &:before{
        content: "\f105";
      }
    }
    .owl-prev{
      @include border-radius(0 18px 0 18px);
      &:before{
        content: "\f104";
      }
    }
  }
  .c-product-item{
    .c-product-item__price{
      display: inline-block;
      vertical-align: middle;
    }
    .c-product-item__oldprice{
      float: right;
      padding: 2px 0 0;
    }
  }
}
/*end home top*/
/*home blog*/
.c-home-blog{
  margin-bottom: 10px;
  .c-home-blog__item{
    float: left;
    width: 50%;
    position: relative;
    z-index: 1;
    .c-home-blog__item__thumb{
      a{
        display: block;
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding-top: 100%;
        &:before{
          content: "";
          background: url("../images/blog-arc.png") no-repeat;
          width: 144px;
          height: 42px;
          position: absolute;
          z-index: 3;
          top: 0;
          left: 50%;
          margin-left: -72px;
        }
        &:after{
          content: "\f107";
          font-family: $font-awesome;
          line-height: 1;
          position: absolute;
          color: $color-success;
          left: 50%;
          top: 2px;
          z-index: 4;
          font-size: 32px;
          margin-left: -9px;
        }
      }
      img{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100%;
      }
    }
    .c-home-blog__content{
      position: relative;
      z-index: 1;
      overflow: hidden;
      padding-top: 100%;
      background: $color-bg;
    }
    .c-home-blog__caption{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    .b-table{
      width: 100%;
      height: 100%;
    }
    .b-table__cell{
      text-align: center;
      vertical-align: middle;
      padding: 0 10px;
    }
    .c-home-blog__item__row{
      line-height: 20px;
      margin-bottom: 7px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .c-home-blog__item__title{
      text-decoration: none;
      color: $color-text;
      font-size: 15px;
      font-weight: 700;

      &:hover{
        color: $color-success;
      }
    }
    .c-home-blog__item__time{
      color: $color-time;
      font-size: 15px;
    }
    .c-home-blog__item__icon{
      text-align: center;
      margin-bottom: 7px;
      display: none;
    }
    .c-home-blog__item__more{
      text-decoration: none;
      color: $color-text;
      border: 1px solid $color-success;
      padding: 7px 25px;
      font-size: 15px;
      vertical-align: middle;
      @include border-radius(4px);
      display: none;
      &:hover{
        background: $color-border;
      }
    }
    a.c-home-blog__item__more{
      text-decoration: none;
      color: $color-text;
    }
    &:nth-child(even){
      padding-top: 50%;
      .c-home-blog__item__thumb{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        right: 0;
        a{
          &:before{
            top: auto;
            bottom: 0;
            @include transform(rotate(180deg));
          }
          &:after{
            top: auto;
            bottom: 2px;
            @include transform(rotate(180deg));
          }
        }
      }
    }
  }
}
/*end home blog*/
/*home video*/
.c-home-video-over{
  padding-top: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
}
.c-video-item{
  overflow: hidden;
  position: relative;
  z-index: 1;
  @include border-radius(18px 0 18px 0);
  .c-video-item__thumb{
    padding-top: percentage(180/315);
    position: relative;
    z-index: 1;
    display: block;
    &:before{
      content: "";
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      @include linear-gradient(top, transparent, rgba(0,0,0,0.4));
    }
    &:after{
      content: "";
      z-index: 4;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    img{
      width: 100%;
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      min-height: 100%;
    }
    .c-video-item__thumb__btn{
      color: #fff;
      z-index: 5;
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      font-size: 24px;
      margin-top: -16px;
      &:before{
        content: "\f04b";
        font-family: $font-awesome;
        line-height: 1;
      }
    }
  }
  .c-video-item__caption{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    padding: 0 5px 5px;
  }
  .c-video-item__row{
    margin-bottom: 3px;
    &:last-child{
      margin-bottom: 0;
    }
  }
  .c-video-item__title{
    display: block;
    color: #fff;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 14px;
  }
  .c-video-item__time{
    font-size: 13px;
    color: #fff;
    display: none;
  }
}
.c-home-video{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
  ul{
    list-style: none;
    margin: 0 -10px;
    padding: 0;
    li{
      float: left;
      width: 50%;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
      &:first-child{
        width: 100%;
        .c-video-item{
          .c-video-item__thumb{
            padding-top: percentage(325/650);
            &:after{
              font-size: 32px;
            }
          }
          .c-video-item__time{
            display: block;
          }
        }
      }
      // lam mo cac item
      //&:nth-child(2), &:nth-child(3){
      //  .c-video-item{
      //    .c-video-item__thumb{
      //      &:after{
      //        @include linear-gradient(top, rgba(255,255,255,0.1), rgba(255,255,255,0.5));
      //      }
      //    }
      //  }
      //}
      //&:nth-child(4), &:nth-child(5){
      //  .c-video-item{
      //    .c-video-item__thumb{
      //      &:after{
      //        @include linear-gradient2(top, rgba(255,255,255,0.5), rgba(255,255,255,0.95), #fff);
      //      }
      //    }
      //  }
      //}
    }
  }
}
/*end home video*/
//home responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){
}
@media (min-width: $screen-md-min){
  .c-main-banner{
    margin-bottom: 25px;
  }
  .c-home-top{
    .c-home-top__left{
      float: left;
      width: percentage(358/1400);
    }
    .c-home-top__center{
      float: left;
      width: percentage((1400-358-358)/1400);
      margin-bottom: 0;
      .c-box{
        border-left: 1px solid $color-border2;
        border-right: 1px solid $color-border2;
      }
    }
    .c-home-top__right{
      float: left;
      width: percentage(358/1400);
    }
    .c-box{
      min-height: 500px;
    }
  }
  .c-home-row{
    margin: 0 -15px;
    .c-home-col{
      padding-left: 15px;
      padding-right: 15px;
    }
  }
  .c-home-blog{
    margin-bottom: 20px;
    .c-home-blog__item{
      .c-home-blog__item__more{
        display: inline-block;
      }
    }
  }
  .c-home-video-over{
    margin-bottom: 20px;
  }
  .c-video-item{
    .c-video-item__caption{
      padding: 0 10px 7px;
    }
  }
  .c-home-video{
    ul{
      li{
        &:first-child{
          .c-video-item{
            .c-video-item__title{
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .c-home-logo{
    ul{
      li{
        width: percentage(1/2);
        padding-bottom: 10px;
        padding-top: 10px;
      }
    }
    .c-home-logo__item{
      width: 100px;
      a{
        height: 62px;
      }
      img{
        max-width: 100px;
        max-height: 62px;
      }
    }
  }
  .c-home-promotion-slider{
    margin-bottom: 20px;
    min-height: 375px;
  }
}
@media (min-width: $screen-lg-min){
  .c-clients{
    padding: 40px 0 0;
  }
  .c-home-blog{
    margin-bottom: 30px;
  }
  .c-home-video-over{
    margin-bottom: 30px;
  }
  .c-video-item{
    .c-video-item__caption{
      padding: 0 15px 10px;
    }
  }
  .c-home-video{
    ul{
      li{
        &:first-child{
          .c-video-item{
            .c-video-item__title{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .c-map-area{
    &__caption{
      right: 40px;
      width: 465px;
    }
  }
}
@media (min-width: $screen-xlg-min){
  .c-main-banner{
    margin-bottom: 35px;
  }
  .c-home-top{
    .c-box{
      min-height: 572px;
    }
  }
  .c-home-logo{
    &.c-home-logo-slider{
      height: 115px * 4 - 21px;
    }
    ul{
      li{
        padding-bottom: 12px;
        padding-top: 12px;
      }
    }
    .c-home-logo__item{
      width: 130px;
      a{
        height: 80px;
      }
      img{
        max-width: 130px;
        max-height: 80px;
      }
    }
    .swiper-container{
      height: 115px * 4 - 21px;
    }
  }
  .c-home-hot{
    &.c-home-hot-slider{
      height: 115px * 4 - 21px;
    }
    .b-grid{
      .b-grid__img{
        width: 85px;
        height: 85px;
        img{
          max-height: 85px;
        }
      }
      .b-grid__content{
        margin-left: 100px;
      }
    }
    .swiper-container{
      height: 115px * 4;
    }
  }
  .c-home-blog{
    .c-home-blog__item{
      .c-home-blog__item__row{
        margin-bottom: 20px;
        &:last-child{
          margin-bottom: 0;
        }
      }
      .c-home-blog__item__icon{
        display: block;
      }
    }
  }
  .c-video-item{
    .c-video-item__time{
      display: block;
    }
  }
  .c-home-promotion-slider{
    margin-bottom: 0;
    min-height: 455px;
    .owl-nav{
      bottom: -40px;
    }
    .c-product-item{
      margin: 46px auto 40px;
    }
    .center{
      .c-product-item{
        margin: 6px auto 0;
        width: 260px;
        .c-product-item__thumb{
          a{
            height: 260px;
          }
          img{
            max-width: 250px;
            max-height: 250px;
          }
        }
        .c-product-item__title{
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: $screen-xxlg-min){
  .c-home-row{
    margin: 0 -20px;
    .c-home-col{
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .c-clients-slider{
    margin: 0 80px;
    .owl-nav{
      .owl-next{
        right: -95px;
      }
      .owl-prev{
        left: -95px;
      }
    }
  }
  .c-home-hot{
    .b-grid{
      .b-grid__img{
        width: 95px;
        height: 95px;
        img{
          max-height: 95px;
        }
      }
      .b-grid__content{
        margin-left: 110px;
      }
    }
  }
}
@media (max-width: $screen-lg-max) and (min-width: $screen-md-min){
  .c-home-promotion-slider{
    .c-product-item{
      margin: 26px auto 20px;
      .c-product-item__thumb{
        a{
          height: 160px;
        }
        img{
          max-width: 150px;
          max-height: 150px;
        }
      }
    }
    .center{
      .c-product-item{
        margin: 6px auto 0;
        width: 200px;
        .c-product-item__thumb{
          a{
            height: 200px;
          }
          img{
            max-width: 190px;
            max-height: 190px;
          }
        }
        .c-product-item__title{
          font-size: 16px;
        }
      }
    }
  }
}
@media (max-width: $screen-sm-max){
  .c-home-promotion-slider{
    .c-product-item{
      margin: 56px auto 50px;
    }
    .center{
      .c-product-item{
        margin: 6px auto 0;
        width: 260px;
        .c-product-item__thumb{
          a{
            height: 260px;
          }
          img{
            max-width: 250px;
            max-height: 250px;
          }
        }
        .c-product-item__title{
          font-size: 16px;
        }
      }
    }
  }
}
//end home responsive css
/*---------- end home css ----------*/