/*---------- invoice css ----------*/
.c-invoice{
  .b-maincontent{
    margin-bottom: 15px;
  }
  &__btn{
    text-align: center;
    padding: 10px 0;
  }
  &__info{
  }
  &__row{
    overflow: hidden;
    margin-bottom: 7px;
    &:last-child{
      margin-bottom: 0;
    }
    label{
      margin: 0;
      padding: 0;
      font-weight: 400;
      float: left;
      &.has-price-lb{
        padding-top: 3px;
      }
    }
  }
  &__text{
    margin-left: 225px;
  }
  &__price{
    font-family: $font-dosis;
    color: $color-red;
    font-size: 22px;
  }
  &__table{
    .table{
      >thead{
        >tr{
          >th{
            background: $color-border2;
            border-bottom-width: 1px;
          }
        }
      }
      >tbody{
        >tr{
          >td{

          }
        }
      }
    }
    .c-invoice__price{
      font-size: 20px;
    }
    .b-grid{
      min-height: 86px;
      .b-grid__img{
        width: 86px;
        height: 86px;
        a{
          display: table-cell;
          text-align: center;
          vertical-align: middle;
          width: 86px;
          height: 86px;
        }
        img{
          min-height: 0;
          width: auto;
          max-width: 86px;
          max-height: 86px;
        }
      }
      .b-grid__content{
        margin-left: 100px;
      }
      .b-grid__title{
        color: $color-success;
        text-decoration: none;
        &:hover{
          color: $color-text;
        }
      }
    }
  }
}
.c-invoice-box{
  margin-bottom: 15px;
  &__title{
    position: relative;
    z-index: 1;
    padding-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
    &:before{
      content: "";
      position: absolute;
      z-index: 2;
      bottom: 0;
      left: 0;
      width: 60px;
      height: 3px;
      background: $color-success;
    }
  }
}
//invoice responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-invoice{
    .b-maincontent{
      margin-bottom: 20px;
    }
    &__info{
      padding: 0 10px;
    }
  }
  .c-invoice-box{
    margin-bottom: 20px;
    &__title{
      margin-bottom: 20px;
    }
  }
}
@media (min-width: $screen-lg-min){

}
@media (min-width: $screen-xlg-min){
  .c-invoice{
    &__info{
      padding: 0 15px;
    }
  }
}
@media (min-width: $screen-xxlg-min){

}
//end invoice responsive css
/*---------- end invoice css ----------*/