/*---------- news css ----------*/
/*news other*/
.news-other{
  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    li{
      padding-left: 10px;
      position: relative;
      z-index: 1;
      margin-bottom: 7px;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 9px;
        width: 3px;
        height: 3px;
        background: $color-text;
      }
      a{
        text-decoration: none;
        color: $color-text;
        span{
          color: $color-time;
          font-style: italic;
          margin-left: 4px;
        }
        &:hover{
          color: $color-success;
        }
      }
    }
  }
}
/*end news other*/
/*news list*/
.c-news-grid{
  .b-grid{
    .b-grid__img{
      float: none;
      width: auto;
      height: auto;
      margin-bottom: 12px;
      position: relative;
      z-index: 1;
      padding-top: percentage(180/268);
      @include border-radius(30px 0 30px 0);
      img{
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        min-height: 100%;
      }
    }
    .b-grid__content{
      margin-left: 0;
    }
    .b-grid__row{
      margin-bottom: 7px;
      line-height: 20px;
      &:last-child{
        margin-bottom: 0;
      }
    }
    .b-grid__desc{
      overflow: hidden;
      max-height: 20px * 3;
    }
    .b-grid__title{
      color: $color-text;
      font-weight: 700;
      text-decoration: none;
      display: block;
      overflow: hidden;
      max-height: 20px * 3;
      &:hover{
        color: $color-success;
      }
    }
    .b-grid__time{
      color: $color-time;
      font-size: 12px;
    }
    .b-grid__more{
      display: inline-block;
      vertical-align: top;
      text-decoration: none;
      background: $color-success;
      color: #fff;
      padding: 5px 15px;
      font-size: 12px;
      @include border-radius(8px 0 8px 0);
    }
  }
  ul{
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    li{
      float: left;
      width: percentage(1/3);
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  }
}
/*end news list*/
/*news detail*/
.c-news-detail{
  margin-bottom: 25px;
  &__title{
    margin-bottom: 15px;
    h1{
      margin: 0;
      font-size: 18px;
      color: $color-success;
      font-weight: 700;
    }
  }
  &__time{
    font-size: 12px;
    color: $color-red;
    margin-bottom: 3px;
  }
  &__sugget{
    margin-bottom: 10px;
    background: $color-border2;
    padding: 10px 20px;
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        padding-left: 15px;
        position: relative;
        z-index: 1;
        margin-bottom: 5px;
        &:last-child{
          margin-bottom: 0;
        }
        &:before{
          content: "";
          position: absolute;
          z-index: 2;
          top: 8px;
          left: 0;
          width: 5px;
          height: 5px;
          background: $color-success;
          @include border-radius(100%);
        }
        a{
          text-decoration: none;
          color: $color-text;
          &:hover{
            color: $color-success;
          }
        }
      }
    }
  }
  &__desc{
    margin-bottom: 15px;
    font-weight: 700;
  }
  &__keyword{
    font-size: 12px;
    margin-bottom: 15px;
    label{
      font-weight: normal;
      margin: 0 4px 0 0;
    }
    a{
      color: $color-text;
      text-decoration: none;
      &:hover{
        color: $color-success;
      }
      &+a:before{
        content: ", ";
        color: $color-text;
      }
    }
  }
}
.c-news-share{
  border-bottom: 1px dashed $color-border2;
  border-top: 1px dashed $color-border2;
  padding: 6px 0;
  margin-bottom: 30px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      display: inline-block;
      vertical-align: middle;
      margin-right: 6px;
      a{
        display: block;
        text-decoration: none;
        text-align: center;
        width: 25px;
        height: 25px;
        border: 1px solid $color-success;
        line-height: 23px;
        color: $color-success;
        font-size: 14px;
      }
    }
  }
}
/*end news detail*/
/*news tabs*/
.c-news-tabs{
  &__title{
    height: 41px;
    border-bottom: 1px solid $color-success;
    @include linear-gradient(top, transparent, $color-border);
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        float: left;
        a{
          display: block;
          color: $color-time;
          text-decoration: none;
          padding: 0 7px;
          line-height: 39px;
          font-weight: 700;
          border: 1px solid transparent;
          position: relative;
          z-index: 1;
          @include border-radius(4px 4px 0 0);
          &:before{
            content: "";
            top: 5px;
            bottom: 5px;
            width: 1px;
            position: absolute;
            z-index: 2;
            left: -2px;
            @include linear-gradient2(top, transparent, $color-success, transparent);
          }
        }
        &:first-child{
          a{
            &:before{
              display: none;
            }
          }
        }
        &.is-active, &.active{
          a{
            color: $color-success;
            border: 1px solid $color-success;
            border-bottom: 1px solid #fff;
            background: #fff;
            &:before{
              display: none;
            }
          }
        }
      }
    }
  }
  &__pane{
    display: none;
    padding-top: 25px;
    &.is-active, &.active{
      display: block;
    }
  }
}
/*end news tabs*/
//news responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-news-tabs{
    &__title{
      ul{
        li{
          &:hover{
            a{
              color: $color-success;
            }
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){
  .c-news-grid{
    .b-grid{
      .b-grid__time{
        font-size: 14px;
      }
    }
  }
}
@media (min-width: $screen-xlg-min){
  .c-news-grid{
    ul{
      margin: 0 -15px;
      li{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 30px;
      }
    }
  }
  .c-news-tabs{
    &__title{
      ul{
        li{
          a{
            font-size: 15px;
            padding: 0 10px;
          }
        }
      }
    }
    &__pane{
      padding-top: 30px;
    }
  }
}
@media (min-width: $screen-xxlg-min){
  .c-news-tabs{
    &__title{
      ul{
        li{
          a{
            font-size: 16px;
            padding: 0 15px;
          }
        }
      }
    }
  }
}
//end news responsive css
/*---------- end news css ----------*/