/*---------- payments css ----------*/
.c-payments-commit{
  max-width: 1040px;
  margin: 0 auto;
  padding: 30px 0 20px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      float: left;
      width: percentage(1/4);
      text-align: center;
      padding-bottom: 20px;
      position: relative;
      z-index: 1;
      &:before{
        content: "";
        position: absolute;
        z-index: 2;
        top: -10px;
        right: 0;
        bottom: -10px;
        width: 1px;
        @include linear-gradient2(top, transparent, $color-border2,transparent);
      }
      &:last-child{
        &:before{
          display: none;
        }
      }
      p{
        margin: 0;
      }
      img{
        margin-bottom: 10px;
      }
    }
  }
}
.c-payments{
  &__left{
    .check-control{
      input[type^="radio"] {
        &:checked + .indicator {
          font-weight: 700;
        }
      }
    }
  }
  &__right{

  }
}
.c-payments-widget{
  margin-bottom: 25px;
  &__title{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 700;
    i{
      float: left;
      margin: -10px 10px 0 0;
    }
  }
}
.c-payments-coupon{
  margin-bottom: 12px;
}
.c-payments-promo{
  line-height: 24px;
  font-style: italic;
  p{
    margin: 0;
  }
}
.c-payments-btn{
  padding-top: 20px;
  ul{
    list-style: none;
    margin: 0 -5px;
    padding: 0;
    li{
      float: left;
      width: 50%;
      padding-left: 5px;
      padding-right: 5px;
      &:nth-child(2n){
        .btn{
          @include border-radius( 0 12px 0 12px);
        }
      }
    }
  }
  .btn{
    width: 100%;
    display: block;
    font-weight: 700;
    padding: 10px 0;
    font-size: 13px;
    @include border-radius(12px 0 12px 0);
    span{
      display: block;
      font-size: 11px;
      font-weight: 400;
    }
  }
}
.c-place-form{
  background: $color-bg;
  padding: 10px;
  margin-bottom: 15px;
  @include border-radius(4px);
  position: relative;
  z-index: 1;
  display: none;
  &:before{
    content: "";
    border: transparent;
    border-bottom-color: $color-bg;
    border-style: solid;
    border-width: 0 8px 10px;
    position: absolute;
    left: 54px;
    top: -10px;
    height: 0;
    width: 0;
    z-index: 2;
  }
  .form-control{
    border: none;
  }
  &.has-second{
    &:before{
      left: 215px;
    }
  }
  &.is-active{
    display: block;
  }
  .c-place-tax{
    display: none;
  }
}
.c-payments-box{
  border: 1px solid $color-border;
  margin-bottom: 20px;
  &__title{
    background: $color-bg;
    padding: 10px;
    .b-grid{
      position: relative;
      z-index: 1;
      min-height: 55px;
      &:before{
        content: "";
        width: 1px;
        top: 0;
        position: absolute;
        z-index: 2;
        left: 55px;
        height: 55px;
        @include linear-gradient2(top, transparent, $color-time, transparent);
      }
      .b-grid__img{
        text-align: center;
        width: 48px;
        height: 48px;
        img{
          width: auto;
          min-height: 0;
        }
      }
      .b-grid__content{
        margin-left: 70px;
      }
      .b-grid__row{
        font-size: 13px;
        margin-bottom: 0;
      }
      .b-grid__title{
        color: $color-success;
        font-size: 14px;
      }
    }
  }
  &__content{
    border-top: 1px solid $color-border;
    padding: 15px 10px;
    p{
      line-height: 22px;
    }
  }
  &__line{
    height: 1px;
    background: $color-border;
    margin: 15px 0;
  }
  &__row{
    margin-bottom: 5px;
    label{
      font-weight: 400;
    }
  }
  &__row-gray{
    background: $color-bg;
    margin-bottom: 1px;
    padding: 4px 15px;
  }
  &__info{
    margin-bottom: 15px;
    .c-payments-box__row-gray{
      &:first-child{
        @include border-radius(4px 4px 0 0);
      }
      &:last-child{
        @include border-radius(0 0 4px 4px);
      }
    }
    label{
      margin: 0;
      font-weight: 400;
      float: left;
    }
    span{
      color: $color-success;
      display: block;
      margin-left: 160px;
      font-weight: 700;
    }
  }
}
.c-payments-label{
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  padding-bottom: 10px;
  &:before{
    content: "";
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 3px;
    background: $color-success;
    display: none;
  }
}
.ul-bank{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    border: 1px solid $color-border2;
    display: inline-block;
    vertical-align: top;
    height: 44px;
    width: 94px;
    position: relative;
    z-index: 1;
    margin: 0 5px 7px 0;
    overflow: hidden;
    @include border-radius(4px);
    a{
      cursor: pointer;
    }
    img{
      width: 100%;
      min-height: 42px;
      filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
      filter: gray; /* IE6-9 */
      -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    }
    &:hover, &.active, &.checked, &.is-active{
      border-color: $color-success;
      img{
        filter: none;
        -webkit-filter: grayscale(0%);
      }
    }
  }
}
//payments responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){
  .c-payments{
    &__left{
      float: left;
      width: calc(50% - 10px);
    }
    &__right{
      float: right;
      width: calc(50% - 10px);
    }
  }
  .c-payments-widget{
    margin-bottom: 30px;
  }
  .c-payments-btn{
    .btn{
      @include border-radius(8px 0 8px 0);
      span{
        font-size: 10px;
      }
    }
    ul{
      li{
        &:nth-child(2n){
          .btn{
            @include border-radius( 0 8px 0 8px);
          }
        }
      }
    }
  }
}
@media (min-width: $screen-lg-min){
  .c-payments-box{
    &__title{
      padding: 10px 15px;
    }
    &__content{
      padding: 15px;
    }
  }
}
@media (min-width: $screen-xlg-min){
  .c-payments{
    &__left{
      width: calc(50% - 15px);
    }
    &__right{
      width: calc(50% - 15px);
    }
  }
  .c-payments-widget{
    &__title{
      margin-bottom: 20px;
      font-size: 16px;
    }
  }
  .c-payments-btn{
    .btn{
      font-size: 14px;
      @include border-radius(16px 0 16px 0);
      span{
        font-size: 13px;
      }

    }
    ul{
      li{
        &:nth-child(2n){
          .btn{
            @include border-radius(0 16px 0 16px);
          }
        }
      }
    }
  }
  .c-place-form{
    padding: 15px;
    &__address{
      b{
        font-size: 16px;
      }
    }
  }
  .c-payments-box{
    &__title{
      padding: 12px 20px;
    }
    &__content{
      padding: 15px 20px;
    }
  }
}
@media (min-width: $screen-xxlg-min){

}
//end payments responsive css
/*---------- end payments css ----------*/