/*---------- User css ----------*/
.c-user-buy{
  .table{
    a{
      text-decoration: none;
    }
    >thead{
      >tr{
        >th{
          text-align: center;
          border-bottom-width: 1px;
          background: $color-border2;
          font-weight: 400;
          color: $color-success;
          font-size: 12px;
          padding: 8px 5px;
          vertical-align: middle;
        }
      }
    }
    >tbody{
      >tr{
        >td{
          text-align: center;
          font-size: 12px;
          padding: 8px 5px;
          &.bg-gray{
            background: $color-border2;
          }
          &.text-left{
            text-align: left;
          }
          &.text-right{
            text-align: right;
          }
        }
      }
    }
  }
  &__price{
    color: $color-red;
    font-size: 14px;
    font-family: $font-dosis;
  }
  &__price-normal{
    font-size: 14px;
    font-family: $font-dosis;
  }
  .b-grid{
    min-height: 80px;
    text-align: left;
    padding-left: 35px;
    .b-grid__img{
      width: 80px;
      height: 80px;
      a{
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        width: 80px;
        height: 80px;
      }
      img{
        max-width: 80px;
        max-height: 80px;
        height: auto;
        width: auto;
      }
    }
    .b-grid__content{
      margin-left: 90px;
    }
    .b-grid__title{
      font-weight: 400;
    }
    .b-grid__number{
      float: left;
      margin: 3px 0 0 -35px;
    }
    .b-grid__symbol{
      float: left;
      margin: 3px 0 0 -20px;
    }
  }
}
.c-user-pass{
  .b-maincontent{
    margin-bottom: 20px;
  }
  &__link{
    text-align: center;
  }
  &__line{
    height: 1px;
    background: $color-time;
    margin: 20px 0;
  }
  &__icon{
    background: $color-success;
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: middle;
    @include border-radius(100%);
    text-align: center;
    line-height: 100px;
    i{
      vertical-align: middle;
    }
  }
  &__steps{
    ul{
      list-style: none;
      padding: 0;
      margin: 0;
      li{
        margin-bottom: 37px;
        padding-left: 123px;
        padding-top: 25px;
        height: 100px;
        position: relative;
        z-index: 1;
        &:before{
          content: "\f175";
          font-family: $font-awesome;
          position: absolute;
          z-index: 2;
          left: 46px;
          bottom: -37px;
          color: $color-success;
          font-size: 24px;
        }
        &:last-child{
          margin-bottom: 0;
          &:before{
            display: none;
          }
        }
        .c-user-pass__icon{
          float: left;
          margin: -25px 0 0 -123px;
        }
        label{
          display: block;
          margin: 0 0 5px;
          color: $color-success;
        }
      }
    }
  }
  &__form{
    .icon20-faq{
      vertical-align: middle;
      margin-left: 4px;
      cursor: pointer;
    }
    .btn{
      margin-top: 10px;
    }
  }
}
//User responsive css
@media (min-width: $screen-xs-small-min){

}
@media (min-width: $screen-sm-min){

}
@media (min-width: $screen-md-min){

}
@media (min-width: $screen-lg-min){

}
@media (min-width: $screen-xlg-min){

}
@media (min-width: $screen-xxlg-min){
  .c-user-buy{
    .table{
      >thead{
        >tr{
          >th{
            font-size: 14px;
          }
        }
      }
      >tbody{
        >tr{
          >td{
            font-size: 14px;
          }
        }
      }
    }
    &__price{
      font-size: 16px;
    }
    &__price-normal{
      font-size: 16px;
    }
  }
}
//end User responsive css
/*---------- end User css ----------*/